[2013-03-29 18:47] e0da opened #3 "Provide LICENSE"
Without an explicit license, we have to assume copyright Jehiah Czebotar, all rights reserved. So the source is technically open, but anybody who uses it without permission might be vulnerable to legal action.

[2013-12-04 22:41] bmhatfield opened #8 "It's not possible to build debian packages with underscores in the name"
Consider renaming this project to google-auth-proxy?

If you'd be OK with that, I can supply debian packaging support for this project.

[2014-01-15 18:32] bmhatfield opened #9 "Deployment question"
Hi,

We're looking into deploying this - but it's unclear whether this is intended to be run as a single reverse proxy with many apps behind it (not sure how that could work from a request routing POV) or as a reverse proxy on every box (raising the question of configuring google apps for each callback URI properly).

How does Bitly deploy this? How do you manage configuring lots of separate apps

[2014-01-15 20:27] #8 closed, assigned to nobody

[2014-01-15 20:28] #9 closed, assigned to nobody

[2014-02-21 03:19] davewongillies opened #10 "google_auth_proxy doesn't connect to upstream endpoint"
I'm sure I'm missing something subtle here (especially since I'm sure I got this working last year some time) but I can't for the life of me get this to connect to my upstream endpoint. Authentication works happily but I always end up with "404 page not found" as the response in my browser and I see no requests against my upstream endpoint at all.

[code]

The doco mentions using `--upstream=http:

[2014-02-21 03:32] #10 closed, assigned to nobody

[2014-03-07 12:25] growse opened #11 "Allow custom login and error template"
The html template is currently hard-coded in `templates.go`. It'd be useful if there was an application switch that allowed specifying a custom template file for both the login and error pages.

[2014-03-18 13:11] ekristen opened #12 "Documenation for multiple upstreams?"
I've read through the README and looked at the code, although I'm still pretty new to Go. I don't understand how multiple upstreams is suppose to work? Can the upstreams be multiple different domains? Or only unique uri?

"If multiple, routing is based on path" is a little vague.

Any help would be appreciated.

[2014-03-26 17:54] jvaleo opened #13 "Not Able to Get authenticated-emails-file to be referenced"
I'm running google_auth_proxy with the --authenticated-emails-file flag. My email file has 1 email address per line so it looks something like:
jeff@ourdomain.com
tim@ourdomain.com

Testing with someone not in the authenticated-emails-file but who is in the same google-apps-domain, they are able to gain access.

Here is how the service is started (with some bit redacted):

/usr/lib/go/bin/google_a

[2014-03-26 21:43] #13 closed, assigned to nobody

[2014-06-30 16:14] #3 closed, assigned to nobody

[2014-08-08 13:00] Janareddy opened #26 "cookie-secret key missing"
Hi...
Thanks for sharing this valuable documentation in git. It helped me a lot.
But I did not understand what is cookie-secret key here and its purpose?
I have tried to run 'google_auth_proxy' without '--cookie-secret' option. But it wont work out.
And I tried with a random string. Its showing error as 'Invalid cookie'.
I have searched for cookie secret key in my google web application project al

[2014-08-21 08:37] barakcoh opened #27 "Proxy omits custom port number upon redirect"
Hi

We're trying to use the proxy in front of services not on port 80. When the authentication flow succeeds, the redirect is sent to the correct destination but without the port number.

Here's the redirect:

[code]

[2014-08-21 23:32] jakeyr opened #28 "group-based authentication"
It would be great to leverage the google apps provisioning API to retrieve the logged-in user's group memberships, enabling some useful features:

  * Restricting access to an application/upstream by group.
  * Passing the list of group memberships foward in a header to the application, allowing for finer grained access control.

[2014-09-25 16:43] bradisbell opened #29 "Docker Support?"
It would be great to see Docker support for this project, as deployment would be quick and easy.  Has someone done this already?  If not, I might take a crack at it soon.

[2014-10-25 14:30] LukeHandle opened #31 "Deployment question"
Hi there,

I've looked through the README and have not seen this mentioned/I assume it's not supported (though I possibly am missing the obvious). Does this offer anyway of passing the username to the upstream?

The requirement being the upstream application authenticates with a username for saved settings etc.

One idea I had (though sounds a bit dodgy) was if the proxy injects a cookie in the re

[2014-10-25 17:14] #31 closed, assigned to nobody

[2014-10-25 17:15] #26 closed, assigned to nobody

[2014-10-26 13:09] timurb opened #32 "HTTP streaming support"
Any chance to have HTTP streaming support?

I'm trying to run Cassandra OpsCenter behind the google_oauth_proxy and it establishes long-running connections between browser and the server which don't work (the rest of the page is displayed fine).

When I try to run it behind plain nginx with the same settings it appears to work ok so this should not be an issue with my nginx config.

[2014-10-30 23:17] ckmaresca opened #33 "Problems with args when calling google_auth_proxy from shell script"
I'm trying to wrap google_auth_proxy in a shell script so it can be called at boot.  I'm having some problems with the command line args as the documentation seems to be slightly off, so I have a couple of questions:
1. do the command line arguments start with `-` or `--`?  Because the errors return `--` but the docs say it should be `-` and the source is not clear which it should be....
2. have y

[2014-10-31 23:37] #33 closed, assigned to nobody

[2014-11-08 19:38] #27 closed, assigned to nobody

[2014-11-10 02:19] #11 closed, assigned to nobody

[2014-11-12 16:15] artooro opened #39 "init.d script?"
How are you guys running this script in the background? I have it working but would be nice if it was an init.d script that would start automatically and run in the background.

Do you have an example?

[2014-11-16 14:17] razb opened #41 "Allow for dynamic updates of email authorization file"
Currently, it looks like the email file is only read at startup. It would be useful to allow this to be read at login so users could be added/deleted dynamically.

[2014-11-16 16:59] razb opened #42 "Websockets support"
It appears that the proxy does not support web-sockets. Any plans to add that support?

Thanks for a great product!

[2014-11-19 07:15] johnboxall opened #43 "Forward upstream Host header to upstream rather than that of the original request"
First off, thanks for this great piece of software – it fit a need we had very closely and is working great for us with a few modifications.

I'm documenting the changes we made here in case they are helpful for anyone else.

The upstream web services we use google_auth_proxy to protect are available over the public internet at unique hostnames. Each web service is configured to return an `Unautho

[2014-11-28 16:31] LarsFronius opened #44 "tcp connections in CLOSE_WAIT status"
For our deployments we run into the issue of the google_auth_proxy not closing connections properly.
Proxy running like this: ```google_auth_proxy -http-address=127.0.0.1:8443 -upstream=http://127.0.0.1:8080/```
[code]
This piles up towards 1023 FDs open until kernel does not allow more.

Did anyone else run into this issue and has any guidance?

[2014-12-12 19:22] akrf opened #47 "Assistance using with Django"
I'm trying to use google auth proxy with a django project but am having trouble understanding how to configure it.

I have Google Auth Proxy running, and have configured it to pass upstream to Nginx, which then passes to a uWSGI socket serving my Django application. All of that works, but I don't know how to tell Django to accept the authenticated user that Google Auth Proxy passes. (Currently whe

[2014-12-19 04:14] ganeshs opened #48 "Skip authentication for health check urls"
Our LB periodically hits "/status" and if a failure response is returned, it takes it oor till it gets a success response. The problem is auth proxy redirects all calls to login page. Is there a way I can exclude certain paths from getting authenticated?

[2014-12-22 15:17] #29 closed, assigned to nobody

[2014-12-23 11:55] vic3lord opened #52 "Keep getting Cookie is invalid"
I don't know what I'm doing wrong that I always get 403 cookie is invalid...

[2014-12-23 15:33] #52 closed, assigned to nobody

[2014-12-24 02:42] #48 closed, assigned to nobody

[2014-12-28 18:26] rhoml opened #53 "Expiring session"
We are using the proxy to authenticate our internal dashboards on different TVs, but every 2-3 days we have to login again. Any hint on how to fix it?

[2014-12-29 12:53] #53 closed, assigned to nobody

[2015-01-18 19:21] ipmb opened #56 "Cut a new release"
Having the releases is really nice. Unfortunately, while using 1.0 I was bit by https://github.com/bitly/google_auth_proxy/pull/40. Any chance of getting a bug fix release?

[2015-01-19 15:37] tomtaylor opened #57 "Option to disable HttpOnly on cookie?"
I'd like to share a cookie between multiple services, some of which make cross domain requests using JS. Currently, HttpOnly is set to true when the cookie is set and cleared. It'd be great to provide an option to disable this.

Instinctively, I'd set this using a `-cookie-httponly` flag, but there's already a `-cookie-https-only` flag. I'd be inclined to rename this to `-cookie-secure`, which I t

[2015-01-19 16:13] tomtaylor commented on #57
I just went ahead and submitted the two things as separate PRs.

[2015-01-19 19:33] jehiah commented on #57
closed by #58

[2015-01-19 19:33] #57 closed

[2015-01-21 00:13] skippy commented on #12
hey folks,
I think I figured out a way to make this work... any thoughts on how to simplify are greatly welcome!  I hope this makes sense :)

1. in https://console.developers.google.com, choose your app, go to `APIs and Auth` => `Credentials` and set your `REDIRECT URIS` and `JAVASCRIPT ORIGINS` to `https://auth.internal.example.com/oauth2/callback`
2. for nginx, I have the following config files

[2015-01-21 16:25] vigoatrook commented on #28
We are using bitly proxy and it works well for basic OAuth. Now we are trying to get group and orgUnits information and apply cascaded privileges to a user.  The problem with using a file is that the list may not be in sync with Google, since positions can change within the organization, and security concerns, as anyone gains access to the server can change that file. I'm really tempted to impleme

[2015-01-22 21:32] jakeyr commented on #28
Since I last looked at this, it appears the google admin SDK has added the ability to enumerate members of a group:

https://developers.google.com/admin-sdk/directory/v1/reference/members/list

it also appears to have been added to the go client:

https://code.google.com/p/google-api-go-client/source/browse/admin/directory_v1/admin-api.json

the new scope is:

https://www.googleapis.com/auth/admin

[2015-01-22 21:33] jakeyr commented on #28
@jehiah can you reopen this issue?

thanks!

[2015-02-11 02:27] matthewsaeedsc opened #62 "Issues with ELK behind Google Auth Proxy (double reverse proxies)"
Hi,

Thank you very much for providing the Google Auth Proxy code here on github. I have things working pretty well for simple services, but it looks like things get a lot more complicated when you are trying to place a Google Auth Proxy in front of a service that already functions as a Reverse Proxy.

In my example, I created a new Elasticsearch, Fluentd and Kibana stack (EFK). This is very simil

[2015-02-11 12:55] LukeHandle commented on #62
How about [nginx] > [GAP] > [Kibana]? Nginx will then be the SSL termination and that should fix your unsafe script error? Each reverse proxy doesn't really care of you send them to another proxy, it just adds more jumps and processing for each connection.

[2015-02-11 20:49] ploxiln commented on #62
There have been a few options recently added to google-auth-proxy to make its proxying more flexible, but the way to do whatever you want (without re-implementing nginx in google-auth-proxy) is `NGINX -> GAP -> NGINX -> stuff`. That's a single NGINX listening on (at least) two ports - one for the initial client connections, and another for google-auth-proxy to use as its upstream.

The first NGINX

[2015-02-11 21:19] LukeHandle commented on #62
The question is, what is nginx actually doing for you here? If it is just so you don't have 2 processes listening on :80 and you can have a nice host just follow the implementation in the Readme.md and that should be fine.

(Put nginx at the front and then have GAP and finally whatever backend!)

[2015-02-12 00:43] matthewsaeedsc commented on #62
Hi everyone, thanks so much for the multiple responses! Really appreciate it.

The standard Elasticsearch + Fluentd + Kibana (EFK) stack does not offer Encryption or authorization, so that is why the Google Auth Proxy makes a perfect fit to place in front of EFK. If you start from scratch with a very basic design it would look something like this (Copied from Digital Ocean's guide: https://www.dig

[2015-02-19 00:09] matthewsaeedsc commented on #62
Hm any idea?

"Double Reverse SSL Proxy with Nginx"... impossible? Or just insanely frustrating...

[2015-03-16 18:42] mbland opened #65 "Adaptation to other OAuth2 services: Pull requests or forks?"
I've managed to successfully [fork this repo and adapt it to a new OAuth2 provider](https://github.com/bitly/google_auth_proxy/compare/master...18F:myusa-staging). I know others have done the same. However, given how little work it was, I'm wondering if you'd be open [to generalizing the server to support multiple providers out-of-the-box](https://github.com/bitly/google_auth_proxy/compare/master.

[2015-03-16 19:46] branderati opened #67 "Issues running in front of Jenkins"
I've experienced this error several times.  It's always after the same POST request.  Here's my log output:
[code]

[2015-03-16 19:49] branderati commented on #67
This does not happen consistently.  As in, I've had GAP running for a few days and then it dies with this.  Then I'll try starting it up, get this immediately.  Repeat two more times and it stays up for a day.  Today I wasn't able to keep it alive and the first occurrence of this POST request (happens often in Jenkins) killed it.

[2015-03-17 02:43] jehiah commented on #65
@mbland good questions. Let me dig into your current set of changes to understand what would be involved.

I'm not opposed to some generalization for other oauth provider endpoints and requested scopes, but i suspect it will become tricky as oauth providers don't have a consistent way to echo back identity after authentication which GAP needs.

I'm also keen to eventually support #28 which likely

[2015-03-17 19:16] jehiah opened #68 "Proxied requests use the Request Host Header"
This extends the work in #43 to add an option for using the request Host Header for upstream requests.

[2015-03-17 20:28] jehiah opened #69 "make redirect-uri optional"
This constructs a default redirect-url using "http://" + request host header + "/oauth2/callback". This enables easy ability to secure multiple virtual hosts w/ the same GAP instance as outlined in #51

[2015-03-17 21:44] jehiah commented on #65
also cc: @balshor w/r/t 5f8bd41a7c089fdf047380acc9b02f2c19605721

[2015-03-17 22:13] jehiah opened #70 "Custom Sign In Template Support"
This adds the ability to specify a directory with custom sign in and error templates.

This fixes: #11 #15 #55

[2015-03-18 03:15] jehiah opened #71 "Rename flag to set secure (https) cookies"
This adds a new --cookie-secure option to replace --cookie-https-only which was became confusing after a flag for httponly was added.

This replaces #59

[2015-03-19 14:39] mbland commented on #65
OK, I'll keep hacking on [18F/oauth2_proxy](https://github.com/18F/oauth2_proxy) to see if I can come up with some seams that make sense, and we can consider later whether they're worth pushing back up here. Feel free to subscribe to our repo, jump in on PRs, etc.

[2015-03-19 14:39] #65 closed

[2015-03-19 20:01] jehiah opened #72 "clear cookie fix"
When you visit the sign-in page, fix it's ability to clear cookies (was missing the secure flag).

[2015-03-19 21:22] jehiah opened #73 "Request Logging:"
This improves request logging from

[code]

To something closer to Apache Common Log format which includes the Host requested, response code, upstream response timings, etc

[code]

[2015-03-21 16:27] ipmb opened #74 "request path contains full URL"
This looks like a regression in 1.1.

When I request `/` through the proxy, the upstream receives:

[code]

The expected request would be:

[code]

[2015-03-21 18:36] jehiah commented on #74
hmm this sounds like something i screwed up with #17 that somehow didn't surface in my testing. Let me dig into this more

[2015-03-26 16:16] guzmo opened #75 "Retrieve logged in users email"
Is it possible to somehow get the logged in users email? If it is, how is this done?
We need to be able to identify the logged in user somehow.

[2015-03-26 16:28] jehiah commented on #75
@guzmo are you using a current build? #73 added logging with the authenticated user so you should be able to do that based on access logs for the timeframe you have set for your cookies to expire.

[2015-03-26 16:33] guzmo commented on #75
@jehiah Thanks for the super fast response :)
This feels like alot of hax hehe I might do it to workaround it right now but will it be any other way in the future you think?

[2015-03-26 17:38] jehiah commented on #75
Perhaps i'm miss understanding what you mean by "get the logged in users email". What are you trying to accomplish?

[2015-03-26 18:06] ploxiln commented on #75
Perhaps you're looking for the `--pass-basic-auth` option, which adds headers to the passed-through requests which include the username and email? (it defaults on, you just need to make your application inspect the `X-Forwarded-Email` header)

[2015-03-26 19:35] guzmo commented on #75
hehe I found this as well : ) thanks for all the help though! its nice to see that the repo is alive

[2015-03-26 19:35] #75 closed

[2015-03-27 21:51] mbland commented on #65
FYI, I've merged the latest changes from here into [the `generalize` branch of our oauth2_proxy fork](https://github.com/bitly/google_auth_proxy/compare/master...18F:generalize?expand=1), and we're running this version now. Seems to work well.

If you're curious, I created a `providers` package to present a unified `providers.Provider` interface between the Google and MyUSA providers, and an `api`

[2015-03-28 00:30] jehiah commented on #65
wow. Amazingly that refactoring came out very clean. Totally would accept as a PR.

And naming is hard, but renaming this project to a more generic "oauth2_proxy" is not a bad idea either.

[2015-03-30 13:51] mbland commented on #65
Cool! I'll start sending PRs your way to build this up bit-by-bit.

[2015-04-03 13:34] #43 closed

[2015-04-03 13:36] jehiah commented on #67
@branderati I haven't had any good ideas on this as the stack trace you shared doesn't point to any GAP code. Do you still get this issue regularly on the current version?

[2015-04-03 17:21] ploxiln commented on #67
It might also be good to mention which version of go you're using and on which OS.

[2015-04-09 15:35] branderati commented on #67
I'm giving the latest release a try.  I'm running: version go1.2.2 linux/amd64

[2015-04-09 19:04] branderati commented on #67
Ran into this issue again with the latest build (from 3 hours ago).
[code]

[2015-04-09 19:12] jehiah commented on #67
This is still a bit of a mystery, but feels like an http issue w/ closed connections.

Can you try with the release built against go 1.4.2? (you should be able to use the binary from) https://github.com/bitly/google_auth_proxy/releases/tag/v1.1.1

[2015-04-09 19:36] branderati commented on #67
Ok I'll give it a shot

[2015-04-17 15:46] sprGeoffrey commented on #67
Hi (branderati user here).  This v1.1.1 version seems to be working well.  Haven't had an issue in over a week.  I think it worked.  Thanks for the help.

[2015-04-17 15:50] jehiah commented on #67
awesome news. Thanks for the update!

[2015-04-17 15:50] #67 closed

[2015-04-18 00:17] jehiah opened #85 "Naming Is Hard - project name change"
Thanks @balshor @mbland for prompting changes to make the "Google" in "Google Auth Proxy" less relevant. It's high time to rename this project to something more generic.

I've had a few ideas, but i want to open this up to see what ideas anyone else has.

* `GAP` - I'm not sure who started the acronym version of the name but it's stuck. We could just stick with that and remove it's expanded meanin

[2015-04-18 15:03] mbland commented on #85
I like `OAuthProxy` or `OAuth2Proxy` (or `oauth_proxy`, `oauth2_proxy`) since that makes it completely unambiguous what the program does, and should prove eminently googleable.

At the same time, I like the tongue-in-cheek backronym for `GAP`, but fear we'll confuse a lot of hipsters looking to upgrade their wardrobe. :stuck_out_tongue:

FYI, sure you're already aware of this, but if/when the name

[2015-04-21 18:34] sprGeoffrey commented on #67
Hello again.  Unfortunately ran into this issue again.  Still using:
[code]

And here's the error log:
[code]

Looks like the stack trace is longer than last time?

[2015-04-21 18:49] jehiah commented on #67
@branderati @sprGeoffrey thanks for the update. It looks like you are using version 1.1.1 of this project compiled with go 1.2.2. Can you try with the release builds (linked above on the github release page) built with go1.4.2?

This still appears to be a bug in `net/http` (I believe it's golang/go#7848) which was fixed in a subsequent Go version as there is no GAP code referenced in your stack tr

[2015-04-21 20:36] sprGeoffrey commented on #67
Ok.  I'll give that a shot next.

[2015-04-27 22:37] sprGeoffrey commented on #67
The newer version of go seems to be working.  Haven't had an issue on our newer boxes.  Thanks!

[2015-04-30 15:49] nathancahill commented on #85
:+1: OAuthProxy

[2015-05-05 21:36] kcampos commented on #62
I just went through this exact debug process and got it working. Here's how:

1. Incoming 443 Nginx vhost -> proxy_pass ALL traffic to GAP
2. Configure GAP upstream to another non-ssl nginx vhost (port 8080 for example)
3. It's on the 8080 vhost where you'd do all your ELK URL filtering as usual and proxy to elasticsearch.

This works great for me. If you try to do the URL filtering before GAP you

[2015-05-06 01:03] jehiah commented on #62
thanks for the clear description on how to set this up @kcampos

[2015-05-06 01:03] #62 closed

[2015-05-07 15:36] mbland commented on #41
Yes, I was wondering if it was by design that a restart is required. However, searching around just now, it seems there isn't yet a standard file watching API. Now that https://github.com/go-fsnotify/fsnotify appears poised to go into the standard library, perhaps we could give that a spin? Happy to whip up a PR for this if no one else gets to it first.

[2015-05-07 15:40] jehiah commented on #41
Yeah, `fsnotify` would be a good approach to solving this. I'm not sure what that means for windows support, but i'm sure if needed that could be omitted via build tags.

[2015-05-12 09:39] trecloux commented on #85
I think that OAuth2Proxy is a perfect name

[2015-05-12 09:44] trecloux opened #91 "Is it possible to diable email validation ?"
Hi,

I'm using this great tool with an internal OAuth2 provider, in my case I want to authorize access to all authenticated users without any needed validation based on the email address.

Is there currently a way to disable email validation ?

I was thinking to implement pluggable validation system in the same way than the providers, does it sounds good to you ?

[2015-05-12 11:17] jehiah commented on #91
Interesting use case. This is similar to validating a whole google apps domain.

I think a good way to accomplish that would be to allow "*" in the `-authenticated-emails-file` file which would match every email address. Do you want to submit a PR for that?

[2015-05-12 12:16] trecloux commented on #91
Yes, will do.

[2015-05-12 15:08] #41 closed

[2015-05-14 06:23] sphere2k commented on #32
Second that. I tried passing [Guacamole](http://guac-dev.org/), which is working fine through an nginx reverse proxy; unfortunately, the connection is dropped after a few seconds, when connecting through google_auth_proxy.

[2015-05-15 16:51] fvitorc opened #94 "proxying transmission web"
Trying to proxy to transmission web will return an error page because of missing X-Transmission-Session-Id header. Normal nginx proxying uses the directive "proxy_pass_header X-Transmission-Session-Id;". Is it possible to do the same thing with google_auth_proxy??

[2015-05-15 17:10] fvitorc opened #95 "Proxying Gate One"
I've successfully set up Nginx to proxy Gate One, a Web Terminal Emulator and SSH Client. But when I try to use google_auth_proxy with it, Gate One loads a page saying that is trying to connect to server, but it never does. I have no idea what the problem is, but maybe it is because Gate One uses WebSockets. Does google_auth_proxy have support for WebSockets?

[2015-05-15 17:20] jehiah commented on #95
It unfortunately does not currently support WebSockets. see #14 and #64 for some attempts at adding that functionality.

[2015-05-15 17:20] #95 closed

[2015-05-16 16:42] ianneub opened #96 "Google auth requires offline access acceptance"
I see this message all the time while trying to login using google oauth:

![Image of offline access](http://ianneubert.com/temp/skitch/Request_for_Permission_1B07AA64.png)

[code]

Is it possible to get rid of this message?

I am using the following settings:
`-authenticated-emails-file=/emails.txt -upstream="http://web:3000/" -cookie-secret="asdf" -http-address=0.0.0.0:80 -cookie-expire=8h0m0s`

[2015-05-16 18:32] jehiah commented on #96
@ianneub no. "offline access" just means the proxy app gets a token that can be used. The only permission requested is to query email address, so that's the only thing the token is good for.

The need for a token that can be used "offline" is to re-validate a session later separate from when a cookie expires as recently happened in #88.

Let me know if that helps or if there are any follow up ques

[2015-05-16 18:32] #96 closed

[2015-05-19 00:10] AjayTripathy opened #97 "Why not use the Request.BasicAuth() in the basic auth handler?"
[CheckBasicAuth()] (https://github.com/bitly/google_auth_proxy/blob/9047920e90f0f571d1870c9b8677b26089740199/oauthproxy.go#L526) seems to re-implement [net/http's Request.BasicAuth() method] (http://golang.org/src/net/http/request.go?s=16575:16641#L518). Any reason for this that I might be missing? The code is straightforward enough, but it seems reasonable to use the base net/http library to do t

[2015-05-19 00:20] jehiah commented on #97
@AjayTripathy good question.

 `Request.BasicAuth()` showed up in Go 1.4 https://github.com/golang/go/commit/29f9f3ec80237ff0b2eb17f042747c08a10e0a14 so we can't rely on it completely (I still want to maintain Go 1.3.3 compatibility). We could update the current function to mirror Go 1.4's implementation of that parsing, and we could also move that logic into a separate file and pivot on build tag

[2015-05-19 00:31] jehiah commented on #47
@akrf I'm going to close this based on the last comments, but please comment or re-open if you were not able to get this to work.

[2015-05-19 00:31] #47 closed

[2015-05-19 18:06] AjayTripathy commented on #97
Sure, I'm happy to work on a patch.

[2015-05-21 05:45] jehiah opened #98 "Add Github Provider"
cc: @intellectronica as you had a similar work inprogress

[2015-05-21 13:22] jehiah commented on #94
It's not possible to set custom headers directly with oauth2_proxy, but you can use nginx->oauth2_proxy->transmission. If you set the headers in Nginx in that configuration, oauth2_proxy will pass them along.

[2015-05-21 13:22] #94 closed

[2015-05-21 13:23] jehiah commented on #44
If this is persistent or reproducible please reopen w/ info on a current oauth2_proxy version, and a current Go version.

[2015-05-21 13:23] #44 closed

[2015-05-21 13:39] jehiah opened #99 "Native SSL support"
Configuration steps would be much simpler if oauth2_proxy supported direct SSL configuration. This would make ssl termination with Nginx the "advanced" configuration.

[2015-05-21 13:56] hexedpackets opened #100 "Empty path parts not being preserved"
I ran into this problem trying to proxy the RabbitMQ management interface. Rabbit has a concept  of virtual nodes, and the API uses them in paths. The default node is `/` and an example endpoint using that is `/api/queues/%2F/amq.queue`. The %2F before the queue name represents the virtual node and is properly URL encoded.

When this request hits the proxy, it gets URL decoded to `/api/queues///am

[2015-05-21 14:01] jehiah commented on #100
@hexedpackets can you confirm what version you are using, and if needed try to reproduce with version 1.1.1 if not using that (or newer?). This should have been resolved by #17 which was part of that release.

[2015-05-21 14:07] hexedpackets commented on #42
There are now two separate PRs opened to add websocket support - #14  and #64 - but no movement on either. The first hasn't been touched in over a year. Can we have this issue re-opened as a tracker until support is actually added?

[2015-05-21 17:04] hexedpackets commented on #100
I was using 1.0, just tried with 1.1.1 and had the same result. What I'm seeing is that a single slash gets sent correctly without decoding, such as the test case from #17 of `/a%2Fb/`. But my triple-slashed URL, `/api/queues/%2F/amq.queue`, gets turned into `/api/queues/amq.queue`.

[2015-05-21 17:23] jehiah commented on #100
@hexedpackets I'm having trouble reproducing that. Can you describe your setup in a little more detail? Is there something else that might be collapsing path components in your request path?

Could you get a dump of the request as sent from `ouath2_proxy` upstream by making a curl request with an appropriate cookie that passes authentication (or setting up basic auth for the test) and run a netcat

[2015-05-21 18:18] hexedpackets commented on #100
Sanitized logs below. `pass_basic_auth` is disabled in my config since it conflicts with rabbitmq's login, but I can setup something with it enabled if that will help. As you can see in the proxy logs, its seeing `///` instead of `/%2F/` and sending a redirect without ever forwarding the original request.

Proxy:
[code]
Netcat:
[code]
Curl:
[code]
Proxy:
[code]
proxy.log from netcat:
[code]

[2015-05-21 18:29] hexedpackets commented on #100
Just to cut out a piece of the puzzle, I can replicate this using just netcat without rabbitmq or basic auth by changing the netcat command to

`while true; do  echo -ne "HTTP/1.0 200 OK\r\n\r\n" | nc -l 8080; done`

and using any triple-slashed URL, i.e.

`curl -Li -H "Cookie: _oauthproxy=[MYCOOKIE]" localhost:4180/a/%2f/b`

[2015-05-21 18:39] jehiah commented on #100
thanks. That's helpful. Let me see what i get w/ that.

[2015-05-21 18:44] hexedpackets commented on #100
Ugh, I just tried compiling from source and running that way and the URL is passed upsteam correctly. So I guess its not fixed in the released 1.1.1 (at least on OS X), but it is fixed on master.

Thanks for the help!

[2015-05-21 18:44] #100 closed

[2015-05-21 19:21] jehiah commented on #100
@hexedpackets ahh. i didn't realize that. Hopefully in the next week or two i'll cut a new release so no one else runs into that issue.

[2015-05-22 16:02] joehillen opened #101 "Distribute cookies?"
We are currently running this on 4 different hosts, all under the same domain via round robin DNS.

Something we run into is that a user might have to login multiple times if they end up on a different hosts between sessions. It would be nice if there were a way to distribute cookies between all the proxy hosts. I'm curious how you think that could be built.

Another issue is that cookies don't se

[2015-05-22 16:13] jehiah commented on #101
@joehillen The server side is stateless so there is no need to store cookies there. You shouldn't be having any issues w/ different instances treating things differently (we use it across several subdomains w/o a problem at Bitly). Do your instances all have the same configuration? Is it possible they have different cookie secrets?

[2015-05-22 16:15] jehiah commented on #101
Also, what version code are you running and is there anything in the logs on the request that triggers authentication that gives an indication of what the issue might be?

[2015-05-22 17:14] joehillen commented on #101
Oh ok. I'll investigate this sometime then, I just assumed it was a distribution issue. Probably secrets or a short cookie lifetime.

@jehiah Thanks for the quick response.

[2015-05-22 17:14] #101 closed

[2015-05-22 17:16] jehiah commented on #101
If you explicitly want authentication to last for longer than the cookie TTL you can also look at the feature added recently in #88

[2015-05-28 22:16] groob opened #103 "authenticated-emails-file not properly checked with google apps domain"
Hi,

I'm running the latest version of oauth2_proxy with an email file and google-apps-domain. I have only 1 user in my emails file, who is not me. However, I'm still able to authenticate to the service as myself even though I'm not on the list of allowed emails.

[code]
Right now any user with an @domain.org can authenticate regardless of the file.

[2015-05-28 22:36] groob commented on #103
I might be reading the code wrong, but from the looks of it, the validator function only checks that the domain for each user in `authenticated-emails-file` matches the google apps domain. Is this intended?

I'm looking to restrict access to a particular group/suborg.

[2015-05-29 01:26] jehiah commented on #103
@groob I think you are running into just poor documentation here.  The `--google-apps-domain` option is intended to whitelist a whole email domain. I've been considering renaming it to something like `--whitelist-email-domain` to make that clearer (not to mention `oauth2_proxy` applies that value for any provider not just google)

If you want to just validate w/ a list of emails you should be fine

[2015-05-29 02:13] groob commented on #103
Thank you for clearing that up!

I actually added the -google-apps-domain flag because I kept getting 'Invalid Account'. Did not realize that the -authenticated-emails-file was necessary.

[2015-05-29 02:13] #103 closed

[2015-05-29 02:43] jehiah commented on #103
you should be able to use either. Were you getting an error using just `--authenticated-emails-file` ?

[2015-05-30 16:35] dbiswas1 opened #105 "validator.go:24: undefined: WatchForUpdates"
Hi i am new using Go, i want to setup enable oauth in Nginx when i follow instruction i get following error
go get github.com/bitly/oauth2_proxy
# github.com/bitly/oauth2_proxy
../bitly/oauth2_proxy/validator.go:24: undefined: WatchForUpdates

Please help me

[2015-05-30 17:59] mbland commented on #105
Sorry, that was my fault. Either you're running Plan 9 or Solaris, or using a version of Go before 1.3. You can check your version of Go by running `go version`. Whatever the case, #106 should fix it. You can try to pull the branch for #106 and see if it fixes the problem by running:

[code]

[2015-05-31 00:05] #105 closed

[2015-05-31 03:13] mbland commented on #105
OK @dbiswas1, you should be able now to run `go get github.com/bitly/oauth2_proxy` without problem. Let me know if it still doesn't work for you.

[2015-05-31 03:19] dbiswas1 commented on #105
Thanks a lot it fixed

[2015-05-31 03:39] dbiswas1 opened #108 "Page defaults to Google sign in"
Hi,
 Thanks for solving the previous request as i said i am very new to GO, my aim is to have Nginx authenticate via github

as of now i have nginx serving only the default home page, have enabled self signed certificate to test the authentication
my nginx config is as follows
server {
        listen 80 default_server;
        listen [::]:80 default_server ipv6only=on;
        listen 443 ssl;

[2015-05-31 04:09] jehiah commented on #108
If you want to authenticate with Github instead of Google you need to use `--provider=github`

[2015-05-31 04:32] dbiswas1 commented on #108
Now i get the github page after i say authorise it gives 500 with following
essage

cannot unmarshal object into Go value of type []struct { Email string
"json:\"email\

i know i am asking way too much things trust me i am unable to configure
this and this is very critical, please help me in this

On Sun, May 31, 2015 at 9:39 AM, Jehiah Czebotar <notifications@github.com>
wrote:

--
Regards
Deepak

[2015-05-31 09:41] LukeHandle commented on #108
You might need to pass the domain / email list so it can authenticate against those.

[2015-05-31 11:51] dbiswas1 commented on #108
--authenticated-emails  used the above still the error persist
json: cannot unmarshal object into Go value of type []struct { Email string "json:\"email\""; Primary bool "json:\"primary\"" }

Please help me in getting this done

[2015-06-01 03:05] dbiswas1 commented on #108
Guys need your help in this

You might need to pass the domain / email list so it can authenticate
against those.

—
Reply to this email directly or view it on GitHub
<https://github.com/bitly/oauth2_proxy/issues/108#issuecomment-107150619>.

[2015-06-01 08:40] dbiswas1 commented on #108
I tried giving the email name in the list with env --authenticated-emails, it still gives same error
json: cannot unmarshal object into Go value of type []struct { Email string "json:\"email\""; Primary bool "json:\"primary\"" }

currently we have a github organization and more or less all are using gmail.com email address, would appreciate any help on this

[2015-06-01 11:09] dbiswas1 commented on #108
Now when i introduced the github-org parameter the error changed

json: cannot unmarshal object into Go value of type []struct { Name string "json:\"name\""; Slug string "json:\"slug\""; Org struct { Login string "json:\"login\"" } "json:\"organization\"" }

i am using the following

./oauth2_proxy --provider=github --upstream=https://ec2-52-25-160-240.us-west-2.compute.amazonaws.com --cookie-secr

[2015-06-01 20:09] pgr0ss commented on #42
:+1: I would love support for websockets.

[2015-06-02 04:26] dbiswas1 commented on #108
Guys, Please help me in this would appreciate some inputs

[2015-06-05 20:51] mightyguava opened #109 "Github provider "Invalid Account""
I'm having trouble trying out oauth2 proxy with the Github provider as well. I'm able to get to the Github login page, log in, and then get redirected to the callback, but then I end up at this page:

![image](https://cloud.githubusercontent.com/assets/2769275/8014688/a330dcc6-0ba0-11e5-9739-5f44736ee671.png)

The URL looks like:
`https://myapp.com/oauth2/callback?code=<some_code>&state=%2Foauth2`

[2015-06-05 21:03] mightyguava commented on #109
Oh, saw the comment on the other bug. Need to use 'authenticated_emails' file. But since github authentication can already restrict to an organization, why is that necessary?

[2015-06-05 21:25] jehiah commented on #109
@mightyguava thanks for commenting here, So i think this is just the conflation of a few documentation things that are confusing (and the fact that github is the only provide that supports role based authentication means that's a little un-documented so far).

Using github org validation doesn't by default allow all email addresses it gets to be considered valid. In addition there isn't a way to w

[2015-06-05 21:43] mightyguava commented on #109
Thanks for the quick reply.

So if I'm understanding correctly, If I set `github-org` to my organization, and set `google-apps-domain` to `gmail.com` + every other domain my org has primary github emails under, I should be able to authenticate any and all users within my github organization?

When I turned on `github-org`, it seems like something else broke

`2015/06/05 21:33:15 validator.go:78: v

[2015-06-05 22:01] mightyguava commented on #109
Okay, I think the issue is here https://github.com/bitly/oauth2_proxy/blob/master/providers/github.go#L83

If I specify Org but not Team, the github provider will still try to check against teams. However, if I'm not part of any teams at all, the loop at line 83 never runs, and I fail the check.

I think there should be a check before the loop to return `true, nil` if github-team is not set.

[2015-06-05 22:07] mightyguava commented on #109
Ah, reading the code more, the problem is more that there's no support to only check a user's organization?

[2015-06-05 22:16] jehiah commented on #109
Thanks for the follow ups. I'll try to reproduce this soon

[2015-06-06 18:12] jehiah commented on #108
@dbiswas1 You seem to be getting an unexpected response from the GitHub API. Can you post the full log line you got? you only pasted part of the log entry so it's hard to understand the context.

[2015-06-08 13:53] jehiah opened #111 "Release Version Two"
A bunch of awesome changes have landed since v1.1. It's time to start the ball rolling on a v2.0.

Since this release includes the project name change, there will be various other backwards incompatible changes included.

[2015-06-12 10:35] jos3k4 opened #112 "Error 500: https://accounts.google.com/o/oauth2/token: x509: certificate has expired or is not yet valid"
I've created the configuration file with all the necessary properties and my stuff (Configured with Google) , I've executed the service and it works properly. It ask me for the Google Account I introduce it (I have 2 step auth enabled) and when the Consent screen appear and I click in Accept. the following error appear.

[code]

Maybe something is missing or is wrong in my configuration file. I ne

[2015-06-12 11:20] jos3k4 commented on #112
Maybe is useful for others... but I've found that the application should run as HTTPS https://developers.google.com/identity/protocols/OAuth2UserAgent

[2015-06-12 11:27] jehiah commented on #112
@jos3k4 can you check the system date on the machine where you are running?

The part of the log where it says "or is not yet valid"  implies that your system date is behind. If the log entry you posted is recent, it has a date of May 31st but it's now June 12th.

[2015-06-12 11:45] jos3k4 commented on #112
@jehiah Thanks for the fast answer... I'm testing it in a test machine and it doesn't have the correct time configuration, thanks!

But now , I obtain a different error.

[code]

[2015-06-12 11:49] jos3k4 commented on #112
Thanks! I solved it updating the time on the machine (I'm using a test box)

[2015-06-12 11:57] jos3k4 commented on #112
I know that probably this is not the thread for ask it, but for avoid open another issue/question... How can I redirect to another context? I mean, the redirect_url should point to the server that have the Google Auth API context (/oauth2/callback) but if I want to redirect to another one, can I do it?

[2015-06-12 14:04] jehiah commented on #112
@jos3k4 can you clarify what you mean by "redirect to another context"? I'm not sure i follow so perhaps if you share what you are trying to accomplish with your setup i can give some guidance.

The `upstream` option specifies where traffic goes after it passes through oauth2_proxy (assuming it's an authenticated session). If you specify multiple upstream addresses, with different path prefixes `o

[2015-06-12 14:17] mbland commented on #112
@jos3k4 If by "redirect to another context" you mean use the host running oauth2_proxy to handle authentication for another host, such as when you're using a single-sign on (SSO) across multiple hosts, there is a way to configure that. See the [SSO.md from my project](https://github.com/18F/hub/blob/master/deploy/SSO.md), which was inspired by #12.

[2015-06-12 14:34] jos3k4 commented on #112
@jehiah Well, my idea is use this API for check the users credentials and then do something like a ProxyPass to the application that the user wan't to see. My target is replace AuthBasic of Apache using this nice service. It can be possible?

[2015-06-12 14:41] jehiah commented on #112
@jos3k4 correct `oauth2_proxy` **is** a `proxy_pass` which authenticates requests. `upstream` is the address of where requests are proxied to, and only authenticated requests are proxied along.

[2015-06-12 14:41] #112 closed

[2015-06-12 14:45] jos3k4 commented on #112
Thanks for the help guys, I like this project.

[2015-06-12 15:37] jos3k4 opened #113 "upstream doesn't work for me correctly"
Hello, I've never used nginx as web server, so probably I'm wrong in some point. I'm executing the bin file google_auth_proxy version 1.1.1 and I have configured the following in oauth2_proxy2.cfg

[code]

After a successful login into google, the service should redirect me (I assume) to 127.0.0.1:8080 but it doesn't do that... it redirects me to the authentication page again (redirect_url without

[2015-06-12 15:50] jos3k4 commented on #113
As a note I execute only with configuration file (Not CLI options)

[code]

[2015-06-12 17:18] jehiah commented on #113
@jos3k4 so there have been quite a few change since version 1.1.1 so your config file might not match up perfectly if you grabbed it directly from this repo.

I just released version 2.0 a few moments ago (#111) so can you re-test with that version and update here if you continue to run into any issues?

https://github.com/bitly/oauth2_proxy/releases/tag/v2.0

[2015-06-12 20:30] jos3k4 commented on #113
Thank you @jehiah I will test it and post some feedback here.

[2015-06-13 10:29] jos3k4 commented on #113
After try the latest release, I have the same problem, it redirects me to the authentication page instead of the one that I have in the property upsteam.

[code]

There is another way I can have this working?

Also I've noticed the following warnings in the log
[code]
In the configuration file I have the properties cookie_key and cookie_secret with my values, so this should work.

[2015-06-13 16:11] jehiah commented on #113
@jos3k4 can you share your full configuration file (sans client secret) and a larger section of log output showing the request cycle when you authenticate and the request after authentication you expect to have a session?

Is the browser talking over ssl directly to oauth2_proxy, or do you have something else handling SSL? If not, have you set `--cookie-secure` setting appropriately?

[2015-06-13 16:32] mbland commented on #113
Sorry, just noticed something in the original post:

If you don't have nginx (or another webserver) serving your site on localhost:8080, there's nothing for the oauth2_proxy to redirect to. Where is your site being served currently without oauth2_proxy?

Also, make sure you don't have cookies disabled, as oauth2_proxy stores a cookie for your `--cookie-domain`.

[2015-06-14 12:07] jos3k4 commented on #113
This is the configuration file that currently I'm using.

[code]

@mbland I'm using an apache server in the machine listening on *:8080 so, I don't have the nginx package installed but I have a webserver where I can ProxyPass after the succesfull login in Google.

[2015-06-15 10:46] jos3k4 commented on #113
@jehiah I leave here the output. I've tried avoid this problem, I've tested all the possibilities and it doesn't work correctly.

[code]

[2015-06-15 11:07] jehiah commented on #113
You have cookie secure set to true, but you do not have SSL configured (no certificate is set in your config). Do you have something in front of oauth2_proxy handling ssl?

[2015-06-15 11:16] jos3k4 commented on #113
Nope, Acutually I'm currently running only oauth2_proxy and apache web server listening on 8080 for receive the upstream, I've commented that line and I have the same problem.

[2015-06-15 12:19] jehiah commented on #113
If you are not using ssl (I highly recommend it. Certs are free from https://www.startssl.com) you need to explicitly set cookie-secure=false.

[2015-06-15 13:58] jos3k4 commented on #113
@jehiah That was the problem, I don't know that I should set the value to false, Thanks a lot!

[2015-06-15 14:02] #113 closed

[2015-06-17 13:05] ayashjorden commented on #12
Great solution @skippy !!!
Works like a charm.

Thanks,
Yarden

[2015-06-17 16:15] igorgatis opened #114 "Any plans for Azure AD support?"
My company uses Azure AD as main user account repository. oauth2_proxy sounds like exactly what we need to use nginx reverse proxy for protecting our internal applications. Any plans for supporting Azure AD?

[2015-06-17 16:15] igorgatis commented on #42
+1

[2015-06-17 17:09] mbland commented on #114
Funny you should ask... ;-) My team ([18F](https://18f.gsa.gov)) is proposing an oauth2_proxy+AD-based solution in the very near future, and I was planning on hacking in the support myself. Which, ideally, should only involve adding a new class to the `providers` package.

[2015-06-18 20:42] ayashjorden commented on #12
Hi all (again),
Should ALL traffic be proxy-ed through oauth-proxy? event after authenticating ?

BTW, is there an IRC/google-groups/slack/other channels for discussion ?

Thanks,
Yarden

[2015-06-18 21:22] ploxiln commented on #12
All traffic needs to be proxied through oauth2_proxy. Otherwise, what decides what traffic has already authenticated? oauth2_proxy looks at a cookie in the request in order to know.

[2015-06-19 20:35] jrallison commented on #12
Hey all,

I'm finding the current upstream configuration options fairly limiting. For example, my current use-case is using oauth2-proxy as a single proxy for all our company's internal apps:

https://internal.mycompany.com/metrics -> internally built rails app
https://internal.mycompany.com/jenkins -> jenkins, open source CI software
https://internal.mycompany.com/rabbit -> rabbitmq, open source

[2015-06-20 11:04] okev commented on #42
+1

[2015-06-20 17:26] jehiah commented on #42
I love seeing the support for this feature. Anyone want to champion this with a patch to add websocket support?

[2015-06-20 17:30] jehiah commented on #114
@mbland I'd be interested in the approach you are thinking about.

I wonder if a separate oauth+AD bridge (something that exposes oauth2 sign in flow while authenticating against AD) would be ideal in tandem with oauth2_proxy.

[2015-06-20 17:48] mbland commented on #114
I _think_, based on what I've read of AD, that recent versions support an OAuth2 flow out of the box.

[2015-06-23 00:48] jehiah opened #115 "Cookie Refresh Improvements"
I experienced a few issues with the current cookie refresh handling, that left me puzzled, but primarily i got a an empty cookie when a refresh should have happened.

This refactors that code a bit to fix that, and switches the timeframe for renewal to be since a cookie was set. (which i think is simpler to understand). Since the requirements (less than expiry) didn't change i think this is ok.

c

[2015-06-23 11:55] jehiah opened #116 "Google - use offline access token"
Currently the Google provider uses an `online` token which expires in 60 minutes. This means that the token is not valid when passed to upstreams for some duration of time, and that it's not possible to refresh the cookie for a new duration (because the token expires and can't be revalidated).

The good news, refreshing a token does ensure that the token is valid. The bad news, with the google pro

[2015-06-23 11:55] jehiah commented on #116
referencing https://developers.google.com/identity/protocols/OAuth2WebServer#offline

[2015-06-23 13:24] mbland commented on #116
Did that change recently? Coulda swore when I first started using the google_auth_proxy that the Google auth page said the app wanted offline access. The API docs don't seem to describe a way to set the expiration manually, but according to this, it seems like it should take six months, not one hour:

https://developers.google.com/identity/protocols/OAuth2#expiration

Still, I think customizing th

[2015-06-25 19:44] jehiah opened #117 "Google - continually use refresh token"
I was mistaken in my understanding in #116 because i thought that when you used a refresh token, the access token you got back was a long term token. It's not and must be continually refreshed when it expires using the refresh token.

[2015-06-25 20:17] edhgoose opened #118 "OAuth Proxy not accepting external traffic"
Hi,

I apologise for this as I'm sure I must be doing something wrong, but here we go.

I downloaded and setup the oauth proxy to use with a Google account. After following the various instructions, I ran a command roughly like:

`./oauth2_proxy -upstream="http://localhost:9000" --client-id="my-client-id.apps.googleusercontent.com" --client-secret="my-secret" --cookie-secret="this is a cookie secr

[2015-06-25 20:26] ploxiln commented on #118
It's expected that you either configure oauth2_proxy to do TLS itself (specify --tls-cert and --tls-key) or use an http proxy like nginx in front of oauth2_proxy, and have that http proxy terminate TLS. That's why oauth2_proxy by default only listens on 127.0.0.1 which only allows connections from processes on the same server (for example, nginx running on the same server and listening for https c

[2015-06-25 20:27] jehiah commented on #118
The docs could probably be clearer here. As @ploxiln beat me to, you want `0.0.0.0:4180` The `0.0.0.0` denoting to listen on any ip.

The form for listening is a little finicky because it expects a protocol so it can pivot and listen on a socket. That means `http://:4180` will also work.

please confirm back here that those details solve your issue.

[2015-06-25 20:57] edhgoose commented on #118
Ah, it's so obvious!

Yes, that is exactly what I needed. I'm using Amazon ELB as my termination point, hence the problem. Let me update the docs.

[2015-07-01 15:36] willejs opened #121 "Use S3 as a backend"
It would be great if i could put this in front of my private S3 buckets, and use google auth proxy to authenticate to them.
Could you add the concept of a backend, and have an option to use s3?

[2015-07-01 16:00] parabolic opened #122 "EOF and server response 500 when working with jenkins build monitor pluign"
Hi,
first of all let me thank you  for the awesome piece of software that we use everywhere in our company!.

We've been having problems when using jenkins with the following plugin:

https://wiki.jenkins-ci.org/display/JENKINS/Build+Monitor+Plugin

which actually fetches job statuses and displays them and from time to time we would get 500 response from the web server and then it stops working si

[2015-07-01 16:06] jehiah commented on #122
Hi @parabolic Glad to hear it's working well for you.

The `EOF` error implies it's getting that response from your upstream (jenkins). Do you have any logging on that side that might indicate a request that's dropped or timed out or .. ? Any chance this correlates to a jenkins service restart or anything like that?

[2015-07-01 17:10] jehiah commented on #121
@willejs I have something in mind =)

[2015-07-02 07:43] parabolic commented on #122
Hi @jehiah thanks for the response, as far as I can see I am unable to find a 500 or an error anywhere in the logs (both jenkins and nginx )and jenkins is not restating that often once in a month maybe less. We've tried disabling the auth with specifying a regex "LIVE" which is part of the url but that doesn't load the page completely since it omits the java scripts from the plugin.

[2015-07-02 19:03] jehiah commented on #121
@willejs It's a little rough around the edges, but does [jehiah/private_s3_httpd](https://github.com/jehiah/private_s3_httpd) work for you?

[2015-07-03 03:23] #118 closed

[2015-07-06 10:37] vankhoa011 opened #123 "403 Permission Denied Invalid Account"
Hi,
I don't know why the oauth2_proxy always display "Invalid Account"
I used oauth2_proxy version 1.1.1.
Can you tell me more about "Invalid Account" error ?
Any problem with my google auth configure ? Thank you in advance.

I configured as following:
[code]
The output logs is:

[code]

[2015-07-06 10:43] jehiah commented on #123
@vankhoa011 You must configure a method of validating email addresses, either via a whole email domain, or individual email address, or allowing any address (available in newer versions of oauth2_proxy).

[2015-07-07 02:13] jehiah commented on #123
@vankhoa011 going to close this based on my previous comments. Let me know if that answer didn't help you figure things out.

[2015-07-07 02:13] #123 closed

[2015-07-07 04:36] vankhoa011 commented on #123
@jehiah : Thank you . It worked correctly.

[2015-07-07 22:02] sricola commented on #121
or go `oauth_proxy` -> `nginx` - > `s3` (as an nginx upstream)

[2015-07-07 23:54] ploxiln commented on #121
Plain nginx upstream won't work for a *private* s3 bucket, which is the request here. I did think that for a second, but realized that there's not much cause to use oauth2_proxy (just) for a public s3 bucket.

[2015-07-07 23:59] mreiferson commented on #121
well let's just have a code review reunion in here...

paging @jlintz @jphines @mccutchen @dlotterman

[2015-07-08 00:01] sricola commented on #121
@ploxiln yes it would, you can use a s3 auth token. to request the file from the upstream and then serve it via `nginx`

[2015-07-08 00:09] jehiah commented on #121
@sricola oh? point me to some docs for that as that would sort of obsolete the code i just wrote =)

[2015-07-08 00:50] jlintz commented on #121
did someone call a top 2% python coder?

*steps in*

Yea @sricola is correct, you can actually proxy to s3 and set your tokens in the headers , here's a good example https://coderwall.com/p/rlguog/nginx-as-proxy-for-amazon-s3-public-private-files , assuming I understood things correctly

[2015-07-08 01:06] jehiah commented on #121
nice, that's good to know.

[2015-07-08 01:26] ploxiln commented on #121
It looks like every access to S3 still requires a signature. That blog post suggests including the signature (and expires timestamp) as a parameter in all the public URLs (and then adding other needed headers/parameters in nginx).

[2015-07-08 01:28] sricola commented on #121
You can modify the request before passing it though the upstream within
Nginx - thereby adding the signature et al without having the original
request need it.

On Tuesday, July 7, 2015, Pierce Lopez <notifications@github.com> wrote:

--
--
srivatsa // hi@sri.so

[2015-07-08 01:31] ploxiln commented on #121
... but then nginx needs to know or calculate the signature needed for each file (it'll be different). So you'd need a location clause for each file, or an nginx plugin which can do that...

[2015-07-08 03:13] mreiferson commented on #121
:joy:

[2015-07-08 03:55] sricola commented on #121
Well. The signature is actually pretty trivial if you have the access
key/secret. Or you can use IAM roles and fetch credentials in realtime from
the instance meta data.

On Tuesday, July 7, 2015, Matt Reiferson <notifications@github.com> wrote:

--
--
srivatsa // hi@sri.so

[2015-07-08 03:55] sricola commented on #121
http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html

On Tuesday, July 7, 2015, Srivatsa Ray <hi@sri.so> wrote:

--
--
srivatsa // hi@sri.so

[2015-07-08 15:11] ploxiln commented on #121
ok yes it's not particularly hard, if you've installed the *out-of-tree* [ngx_set_misc module](http://wiki.nginx.org/HttpSetMiscModule) to get `set_hmac_sha1` and `set_encode_base64`, and composed the string to sign correctly.

jlintz' "good example" link does not do these things. so I guess my point is that it's probably an equivalent amount of effort and config/deploy management to use something

[2015-07-08 15:18] sricola commented on #121
LOL. I'd rather recompile a widely used open source package - with some extra options than write custom code to re-invent the wheel. Thats just me, and you don't have to agree with that viewpoint.

[2015-07-08 15:45] jehiah commented on #121
It's ok @sricola [private_s3_httpd](https://github.com/jehiah/private_s3_httpd) now counts as a widely used open source package, so you can use that. No extra options or recompile needed.

[2015-07-08 15:52] mccutchen commented on #121
I want to frame this thread and hang it on my wall.

:100: :100: :100:

[2015-07-13 10:09] jos3k4 opened #124 "Question about upstreams"
Hello, Sorry for the simple question, but I didn't found something related with this.

I know that you can define some upstreams with different context (/App1, /App2) in order to create some routing logic, but I have some problems with this configuration.

When I use the following configuration in the upstreams.
[code]

Routing is working but the context "/Appx" is also sent to the server, can I a

[2015-07-13 11:29] jehiah commented on #124
@jos3k4 you are correct, `oauth2_proxy` will not rewrite requests (or responses) like you are describing.

The primary options you have are to a) use subdomains so you have `app1.domain.com` and `app2.domain.com` and set your cookie_domain to `.domain.com` so they can share authentication, or b) set your upstream as an intermediate `nginx` endpoint and configure request/response url rewriting ther

[2015-07-13 12:26] jos3k4 commented on #124
@jehiah thanks for the answer.
With the option a) you mean have something like this?

[code]

If you mean that I've already tried ir and the application returns the following trace.
[code]

I understand is normal behaviour the application doesn't allow two routing paths pointing to "/"

Probably for now I will use multiple instances of oauth2_proxy for each application on my internal network. Agai

[2015-07-13 12:51] mbland commented on #124
For a one-cookie-multiple-domain example, check out [the 18F/hub SSO configuration](https://github.com/18F/hub/blob/master/deploy/SSO.md), inspired by #12. It is a little subtle, but very effective. The one thing the `README` doesn't get into is the individual `location` definitions; you can see those in [the 18F/hub nging vhost configs](https://github.com/18F/hub/tree/master/deploy/etc/nginx/vhos

[2015-07-13 21:51] mattk42 opened #125 "Multiple instances, different authorized email addresses"
Hey guys,

Had an idea for a unique set up of oauth2-proxy, and it doesn't seem to work. Wanted to get your opinion on it.

I have a couple of different services that I am protecting with this proxy, but I would like to limit them to a different set of email domains/authorized emails depending on the service (so #12 wouldn't do the trick). It would also be nice if a user only had to log in once an

[2015-07-14 00:25] jehiah commented on #125
@mattk42 thanks for sharing some thoughts on your use case, and i'm glad you were able to get multiple instances configured and sharing authentication successfully.

There isn't a good reason that the email validation isn't done on each request; it's a pretty cheap operation, so that would be a pretty straight forward change.

If that was changed, it sounds like things would work as you desire, wi

[2015-07-14 16:05] #125 closed

[2015-07-15 15:54] jos3k4 commented on #124
The implementation that I've done is fine for now, thanks for the help to everyone!

[2015-07-15 15:54] #124 closed

[2015-07-19 19:50] oskarpearson opened #127 "http: proxy error: malformed HTTP response """
Hi

This might be more of an "FYI" than a bug - but I thought it was worth noting.

I've just had an issue pointing the proxy at Nginx (running mediawiki and php5-fpm).

On a small percentage of requests, I'd receive this error from oauth2_proxy. It mostly occurred on reloads (which probably meant that if-modified-since request was being sent - which might return a blank body):
[code]

After some

[2015-07-20 11:20] kadashu opened #128 "not work with github with scope read:org"
oauth2_proxy will return 500 to client after got 404 from github api as `error redeeming code got 404 from "https://api.github.com/user/emails?access_token=304d6bd5258b386fef07d9508808f8cd2b795528" {"message":"Not Found","documentation_url":"https://developer.github.com/v3"}` .

oauth2_proxy request log:
[code]
oauth2_proxy configs
[code]

and oauth2_proxy version
[code]

I did not find anything s

[2015-07-20 12:18] jehiah commented on #128
Can you try removing the oauth scope setting in your config? I think you are missing `user:email` scope but the scopes should be setup automatically if it's left blank.

[2015-07-20 15:24] kadashu commented on #128
got 403 after fix an config error as blew
[code]
and commented `#scope = "read:org"`
[code]

I need to use scope read:org  because need to restrict logins to members of this org/team

[2015-07-20 17:16] jehiah commented on #128
Perfect. Commented out scope is what you want. It will add the read:org automatically.

The remaining item for you is to authorize the email address (email auth applies in addition to group auth). Since you are using group restrictions that likely means with `--email-domain=*`

[2015-07-21 08:18] kadashu commented on #128
oauth2_proxy did not add the read:org automatically after commented out scope. Actually this config
[code]
did not  apply  email auth in addition to group auth.

I tested it with an account which was not in the org/team, still can pass the auth.
oauth2_proxy log:
[code]

[2015-07-21 11:19] jehiah commented on #128
Well using the `email_domains=*` the email validation will be disabled, so that's expected.

If you aren't seeing github org or team restrictions being applied, that's unexpected. Can you attempt the same thing but with `--github-org=myorg --github-team=myteam` on the command line instead of in the config file? I wonder if there might be a problem loading those values.

[2015-07-22 14:25] willejs commented on #121
@jehiah That code looks like it would work, for me, but...
It would be nicer if oauth2_proxy would support it as a backend too? is it out of scope for the project?

[2015-07-23 13:21] jehiah commented on #121
@willejs Yeah, I've been pondering that. I think i'm landing on the side of "out of scope" in preference of keeping this focused on authentication not file serving.

[2015-07-23 13:21] #121 closed

[2015-07-24 03:56] kadashu commented on #128
bad luck, still not work

1, all args via command line
[code]
but got
[code]

2,  partial args via command line
first, commented `-github-org` and `-github-team` in config
then
[code]
but, got
[code]

[2015-07-24 12:04] jehiah commented on #128
@kadashu

For `1`, the parameter is `-client-secret` not `-client_secret`.

For `2`, It looks like the github group and team authentication worked fine, but you haven't authorized that email address via domain (with `-email-domain` or via `-authenticated-emails-file`). Can you clarify what's unexpected there?

[2015-07-24 17:25] jehiah commented on #127
@oskarpearson Thanks for taking the time to report this. It's also to me why this might be happening, but i'll try to do some investigating in case this is a problem on the `oauth2_proxy` side.

[2015-08-04 00:54] bbassingthwaite-va opened #132 "Authenticating Google AppEngine service accounts"
Hi,

I am looking to use `oauth2_proxy` to secure services that are accessed from our App engine application. Each application is provided a service account that is used for any oauth calls that are made from the application. There are also API's provided to get the service account name and a token for a specified scope.

Here is a python script that if run on the appengine application would pass

[2015-08-17 08:48] nightlyone opened #134 "Don't pass Referer header to protected server on call-back."
Because it contains sensitive info from the callback.
e.g. `Referer: https://accounts.google.com/o/oauth2/auth?access_type=offline ......`

No big problem, but unnecessary.

[2015-08-18 06:20] elssar opened #135 "Issues with oauth_proxy behind two proxies"
I had a setup where I had Kibana running behind oauth2_proxy v 1.1.1, which was running behind nginx, which terminated SSL. It all worked without a hitch.

[ nginx (ssl termination)] --> [ oauth2_proxy 1.1.1 ] ---> [ kibana ]

Now I'm trying to setup oauth2_proxy v2.0.1 for Kibana in a AWS EBS environment. This time around, the AWS ELB handles SSL termination and proxies to nginx on the instance,

[2015-08-18 10:05] elssar commented on #135
I played around a bit, and it works if I don't use SSL. So I'm guessing that oauth2_proxy expects the proxy in front of it to terminate SSL. If that is the case, then can I make this work by having nginx forward some headers?

[2015-08-18 10:17] cedw93 opened #136 "Always being routed to the same upstream, Host header being lost?"
I have oauth2 authenticating and redirecting to two different locations based on the subdomain of the request, however no matter what url iI access, the same content is always returns. It seems to me that the `Host` header is not being passed to the upstream correctly so it always returns the first route.

This is my upstream:

[code]

[code]

This is my my auth routing:

[code]

You will notice t

[2015-08-18 10:45] elssar commented on #135
Figured it out. Tiny little thing. Nginx was setting the `X-Scheme` to `http`, just need to set it to `https` and everything works.

[2015-08-18 11:35] jehiah commented on #136
@cedw93 your setup and config look like they will work. Can you enable request logging on the nginx port 8081 server blocks with a log format that includes `$http_host` so we can identify what's happening?

You have `pass_host_header=true` so i'd expect everything to work properly.

[2015-08-18 11:37] jehiah commented on #135
glad to hear you were able to work this one out :smile:

[2015-08-18 11:37] #135 closed

[2015-08-18 12:24] cedw93 commented on #136
Hey thanks for the reply. In order for it to work, i had to also forward the header in nginx
[code]

[2015-08-18 12:51] jehiah commented on #136
Ahh. That makes sense. Thanks for the update!

[2015-08-18 12:51] #136 closed

[2015-08-26 02:12] jideshv opened #138 "Different authorized email list per upstream"
Hi, this is related to #12 and #125.  I have the following scenario and trying to decide whether I fork the oauth2_proxy code and add this feature or if there is a builtin way of already doing this:

upstream1: http://partnerserver:1000/partner1  (authorized email list of partner1)
upstream2: http://partnerserver:1000/partner2  (authorized email list of partner2)

What we are trying to do is have

[2015-08-26 03:14] jehiah commented on #138
There isn't a way to have separate authorization settings on the same oauth2_proxy. You will need multiple instances.

You should be able to setup nginx (or any similar reverse proxy) in front of two oauth2_proxies that share the same settings (so they can each read the same session cookie) and then configure each oauth2_proxy w/ an appropriate authorized list and upstream. Set nginx to poing `/`

[2015-08-26 03:14] #138 closed

[2015-08-26 03:18] jideshv commented on #138
Thanks for the feedback.  This isn't an urgent need for us but having to setup multiple oauth2_proxies makes on-boarding/off-boarding a little more work.  Thanks again for the quick response.

[2015-08-26 03:23] jehiah commented on #138
@jideshv out of curiosity, what provider are you using?

[2015-08-26 03:30] jideshv commented on #138
@jehiah in the process of setting things up.  Planning on using the github provider which gives us the flexibility of giving our whole team access to our documentation server.  In the future we will ask some of our partners to view online documentation and I was looking for a simple way of allowing that without exposing the rest of the documentation space to them.

I like the simplicity of oauth2_

[2015-08-27 03:52] ProTip opened #140 "Google Offline Access Requested"
Hello,

Every time I clear my cookies or visit the ```sign_in``` page(clears the cookies) I get a notice from Google that the app is requesting offline access next time I try to log in.  I don't see this with any of the other services I sign into with Google apps, is there a way to set it up so this does not happen?

[2015-08-27 04:12] jehiah commented on #140
Some services perpetually accept email or authentication data (oauth2_proxy used to do this too!), but there are two things that drove this change that required offline access:

 1. oauth2_proxy gained the ability to pass an access token for the authenticated session to it's upstream. This means offline access with transparent renewing of the access token via refresh tokens.
 2. There are typicall

[2015-09-09 11:20] jehiah commented on #28
This capability was added in #139

[2015-09-09 11:20] #28 closed

[2015-09-12 00:02] mgoldsborough commented on #136
@cedw93 could you point out which nginx directive you needed to add the ```proxy_set_header``` statements in?

[2015-09-21 21:48] sammerry commented on #42
+1 running into this same problem trying to proxy ipython.

[2015-09-23 09:10] Tenzer opened #141 "Static file serving"
It would be neat if oauth2_proxy could use a directory path as the backend instead of a HTTP server, ie. for generating documentation to static files which only should be accessible for people who have the right credentials.

It's not an urgent feature for me, but I am thinking it's something that may not involve a lot of work.

[2015-09-23 11:30] jehiah commented on #141
@Tenzer interesting. I'd accept a patch that supported `file:///...` as a valid upstream setting. Want to take a pass at that?

(I wrote [`private_s3_httpd`](https://github.com/jehiah/private_s3_httpd) with a similar motivation with the only detail that serving files locally didn't fit my need)

[2015-09-23 13:56] Tenzer commented on #141
Sure, I'd like to give it a stab although my experience with Go is somewhat limited. From what I can see by giving the project a quick glance, I need to add some logic in `NewOauthProxy()` in oauthproxy.go to add a `net/http.FileServer` as a handler on the `serverMux` being created. Does that sound correct to you?

[2015-09-23 14:00] jehiah commented on #141
@Tenzer exactly. `http.FileServer` would be in place of `UpstreamProxy`  if the upstream protocol is `file:///`

[2015-09-23 14:00] Tenzer commented on #141
Cool, I'll give it a shot later today and hopefully come up with a pull request :)

[2015-09-24 13:48] jehiah commented on #141
feature added in #142

[2015-09-24 13:48] #141 closed

[2015-09-24 13:50] Tenzer commented on #12
As part of #142, I added some documentation to the README file on how the upstreams can be configured, you can find it under the [Upstreams Configuration](https://github.com/bitly/oauth2_proxy#upstreams-configuration) header. If that's sufficient, I guess this issue can be closed.

[2015-09-24 13:51] #12 closed

[2015-09-24 13:52] jehiah commented on #12
:memo:++

[2015-09-24 13:52] #140 closed

[2015-09-26 00:08] aimless55 opened #143 "Protecting Multiple Domains"
I'm currently using oath2_proxy to protect a single domain. Oauth2_proxy is listening on localhost:4180, which is served by nginx on foo.example.com. After a successful authentication, oauth2_proxy serves the application on localhost:9090.

This works great, but I now want to use oauth2_proxy to protect a second application (running on localhost:9000) on a second domain (bar.example.com).

I could

[2015-09-26 07:45] Tenzer commented on #143
It all depends on the paths used on the upstream services. Earlier this week I added some documentation to the [README file](https://github.com/bitly/oauth2_proxy#upstreams-configuration) on how to configure multiple upstreams in oauth2_proxy, that will hopefully be able to help you out, but the gist of it is that oauth2_proxy does routing based on the paths provided on the upstream servers. This

[2015-09-26 13:26] meatheadmike opened #144 "Custom github url not supported"
I've set custom validate, redeem and login URL's so that I can auth against our enterprise github installation. But the oauth proxy appears to ignore these settings and instead tries to validate against public github.

[2015-09-28 15:59] mbland commented on #143
@aimless55 Another option, if you're comfortable with subtle nginx config hacking: https://github.com/18F/hub/blob/master/deploy/SSO.md

Those instructions were inspired by @skippy's example in #12. In practice, it's worked remarkably well.

[2015-09-28 16:08] mbland opened #146 "Securing authentication across the public internet"
Short version: Should we add HMAC signatures when passing authenticated requests upstream?

I've been running [oauth2_proxy to implement single sign-on](https://github.com/18F/hub/blob/master/deploy/SSO.md) across different apps on different domains for some time, with great results. However, all of those different apps and domains are actually running on the same host.

Recently my team tried to

[2015-09-28 16:17] jehiah commented on #146
Generally ++ on this. This need doesn't come up often but it would be useful.

I'd love to hear your thoughts on details of what signing mechanism would work. Also, i could be interesting/useful in some cases if there was a separate open source project with a binary that received said secure requests and did the validation passing on only validated requests.

(A long time ago, #1 sort started to t

[2015-09-28 16:29] mbland commented on #146
Cool! So what I'm thinking is pretty straightforward: Once the proxy has authenticated a request, it'll do a SHA1 HMAC of the raw request body and add the result as a header, a la [GitHub webhooks](https://developer.github.com/v3/repos/hooks/#example). Then it's up to the client to store the shared key and check the signature of incoming requests. There could be a "default" secret key, and a mecha

[2015-09-28 18:39] jehiah commented on #146
In the webhook case it's the body of the message you care about authenticating. Here, it could be the body on a `POST`, but it's more the authorization state, so the host, URL and headers (ie: cookies, passed access token, auth'd email address). That leads me to think we need an explicit list of things that are part of the HMAC.

[2015-09-28 18:48] mbland commented on #146
@jehiah You beat me to the punch... :-)

So I just realized that GET requests won't typically have a request body. Inspired by http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html, I'm proposing the signature be a hash of something like: HTTP-Verb + "\n" + Date + "\n" + URI + GAP-Auth header.

How's that sound?

[2015-09-29 01:31] mbland commented on #146
Actually this is what I'm now using, after some thought and experimentation, with each value separated by a newline:

* HTTP method
* Content-Md5
* Content-Type
* Date
* Gap-Auth
* URI
* Body

Any values not in the original request are represented by the empty string. Sound OK?

[2015-09-29 01:34] mbland commented on #146
Oh right... Cookies and the passed-through auth token... Not sure how critical the host is, though, but perhaps that's my ignorance showing.

[2015-09-29 19:03] mbland commented on #146
So here's the new package with the signature logic in my 18F/oauth2_proxy#hmac-signatures branch: https://github.com/bitly/oauth2_proxy/compare/master...18F:hmac-signatures?expand=1

How does that look so far? It's actually pretty straightforward stuff; it's easy to update the header set if we decide that what's there isn't what we actually want.

I'm now working on setting up the configuration an

[2015-10-03 23:41] johnboxall opened #149 "Document Shortest Possible 😎 Path for Noobs"
`oauth2_proxy` offers a [number](https://github.com/bitly/oauth2_proxy#command-line-options) of configuration options.

For folks looking to get up and running, quickly, it would be awesome to add a 15 minute "Quickstart" guide.

This right place for this may be a separate repo containing the compiled binaries, and an [`app.json`](https://devcenter.heroku.com/articles/app-json-schema) file to powe

[2015-10-05 16:02] jehiah opened #151 "travis: custom install steps to fix build"
This adds a workaround for upstream travis Go image changes which added `install: make get-deps` breaking the way this repo expected dependency management.

noticed in #147 by @mbland

[2015-10-08 13:00] mbland opened #152 "An /auth endpoint to support Nginx's auth_request"
I recently discovered the [Nginx `auth_request` directive](http://nginx.org/en/docs/http/ngx_http_auth_request_module.html), which allows a setup like this:

[code]

Would you be open to having me add an `/auth` endpoint or similar to the oauth2_proxy?

It'd basically involve splitting the authentication logic from `func (p *OauthProxy) Proxy(rw http.ResponseWriter, req *http.Request)` into a new

[2015-10-08 14:56] mbland commented on #152
Per #153, the implementation turned out to be even less complicated than I expected. Got to reuse the test fixture from the existing `ProcessCookieTest`s as well.

[2015-10-12 12:15] ishamfazal commented on #152
hey this comment isn't relevant for this issue, i'm running into a problem so would need some help to check if its on my code side or not i have created a new provider and trying to authorize so once the once the authorization code is sent back to call back url i get an error check the image
![screen shot 2015-10-12 at 5 43 22 pm](https://cloud.githubusercontent.com/assets/11960696/10427645/da387d

[2015-10-13 12:53] ishamfazal opened #155 "Adding a new provider"
Hey,
Is there a default format(code) to add a new provider?

[2015-10-13 13:20] mbland commented on #155
There's a pointer to the `providers` package at the very end of the README: https://github.com/bitly/oauth2_proxy#adding-a-new-provider

[2015-10-14 05:20] ishamfazal commented on #155
yes i have defined my provider and set everything but i get this error even though the activation code sent back is correct it gives an error check the image, am i missing something ?
![screen shot 2015-10-14 at 10 44 08 am](https://cloud.githubusercontent.com/assets/11960696/10475447/6014fd96-7261-11e5-8ab5-bc77b3926386.png)

[2015-10-14 22:17] a86c6f7964 opened #156 "argument to turn on debug logging"
I would like to be able to turn on debug logging in the app, but I do not see any command line option to do this.

[2015-10-15 14:25] a86c6f7964 commented on #156
turns out its always on, sorry i missed that.

[2015-10-15 14:25] #156 closed

[2015-10-16 15:37] aimless55 commented on #143
@mbland Perfect! Thanks.

[2015-10-16 15:37] #143 closed

[2015-10-22 14:40] tandonraghav opened #157 "Not getting redirected to Upstream location."
After successful Google login it always redirects to Authentication page and not my upstream page.
I am running a apache Web Server listening on 8080.
In the oauth2_proxy config file i have
upstreams = [
     "http://127.0.0.1:8080/test"
 ]

So, ideally if i test for **http://localhost:4180/test** then on successful Authentication it should redirect me to **http://127.0.0.1:8080/test** which is no

[2015-10-22 14:44] jehiah commented on #157
@tandonraghav I think you are miss-understanding the role of proxying. To provide authentication the browser must only talk to `oauth2_proxy`, it must never connect to the upstream directly (`127.0.0.1:8080` in your case).

As a result, you will not get "redirect" after authentication, oauth2_proxy will proxy the requests. (ie: Your browser will access `127.0.0.1:4180/test` which is `oauth2_proxy`

[2015-10-22 14:50] tandonraghav commented on #157
@jehiah  I am hitting ````http://localhost:4180/test```` from my browser but after Authentication it gets redirected to same URL and not my upstream URL which is ````http://localhost:8080````

I am not accessing http://localhost:8080 directly from my browser.

Your last line, how can i change that as i am already setting --cookie-secure=false

[2015-10-22 14:52] jehiah commented on #157
@tandonraghav are you saying you see the 'sign in' page again after authentication? Can you share the logs from `ouath2_proxy` from your sign in attempt?

[2015-10-22 14:56] tandonraghav commented on #157
@jehiah Sure,

The logs are

[code]

[2015-10-22 14:59] jehiah commented on #157
so the problem is that when the cookie is being set, it's not present on the next request. I think this is because you are accessing over a specific port. Can you try `--cookie-domain="localhost:4180"` ?

[2015-10-22 15:02] tandonraghav commented on #157
@jehiah  Waoo..thanks a lot it worked.. Can you please explain the issue in one or two lines.
and the correct value of --cookie-domain and use of this attribute .

I really appreciate you quick response.

[2015-10-22 15:05] jehiah commented on #157
no problem. happy to help.

Cookies are set with a domain and value (and a bunch of other settings). `oauth2_proxy` automatically figures out the right value for `domain` (in some advanced configurations you could use oauth2_proxy on multiple domains at the same time). That works if you are accessing as `http://localhost/` or `https://localhost/` but since you are accessing on port `4180` to test,

[2015-10-22 15:05] #157 closed

[2015-10-26 21:24] cpliakas commented on #149
Thanks for this. The `cookie-secure` tip and note about `localhost` / `127.0.0.1` unblocked me and saved what little hair I have left. One additional thing that I learned (which is really web 101 stuff) is that the domain must have at least one dot (.) in it otherwise the browser will reject it as an invalid domain and the cookie won't be set.

Without doing these things, the proxy keeps on redire

[2015-10-28 19:36] neurogenesis commented on #42
+1, @jehiah ... looks like the following PR (comments as recent as 13 days ago) were also submitted. adding to this thread for visibility...

https://github.com/bitly/oauth2_proxy/pull/145

[2015-11-08 01:00] jfbenckhuijsen opened #162 "Setup behind reverse proxy (nginx)"
Hi,

I have the following setup:

nginx reverse proxy        --> nginx-oauth2     --> backend system

The reverse proxy listens on /some_location and redirects(rewrites) to the nginx-oauth2 host on /

I can see the initial page (/oauth2/start) when going to any URL on the reverse proxy host /some_location/...

However, the OAuth interaction fails. Setup is as follows:

-redirect-url=http://reverse

[2015-11-09 14:46] graingert opened #166 "option to hide version number"
Currently oath2_proxy shows the version number on the login page

It would be great to be able to hide this

[2015-11-09 14:50] jehiah commented on #166
@graingert I'd accept a patch that makes that version info in the template block configurable. Are you interested in working on this?

[2015-11-09 16:00] johnboxall commented on #149
One quick way to get noobs up and running may be through a [Deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button) button.

This PR #150 shows an example of how that might work.

[2015-11-09 16:12] #152 closed

[2015-11-15 01:00] MiguelGArgiles opened #169 "Use with the Nginx auth_request directive"
Hi

I am trying to configure oauth2_proxy with nginx using auth_request directive but I am not able to find the way to make it works.

In our system, nginx works as a reverse proxy for several Atlassian Tools (JIRA, Bamboo). We want nginx to call oauth2_proxy to authenticate users.

Nginx seems to redirect requests well to oauth2_proxy but oauth2_proxy always answers with a 403.

Our nginx has bee

[2015-11-15 01:32] mbland commented on #169
Are you using the latest `master`, with commit https://github.com/bitly/oauth2_proxy/commit/7c241ec1fe047b5c4a07185f7474d455e4db057a? The `/auth` endpoint isn't in any official releases yet.

[2015-11-15 01:36] jehiah commented on #169
@MiguelGArgiles thanks opening this issue. `auth_module` support is relatively new (as of #153) so this might be an indication of some rough edges.

@mbland correct me if i'm wrong, but i think the actual endpoint needs to be configured as `/oauth2/auth` unless you use a non-default proxy prefix like `-proxy-prefix=/`

[code]

I think you also need to proxy `/oauth2` for actually signing in. Right

[2015-11-15 01:44] mbland commented on #169
Yeah, @jehiah, I think you're right. In my current configuration I'm using an [18F/authdelegate](https://github.com/18F/authdelegate/) server that is itself configured to proxy to `/oauth2/auth`, which is why I forgot to reflect the `/oauth2` prefix in the README here. I think proxying to `/oauth2` to log in is also correct, and can even work with `error_page 401 /oauth2`. I'll be happy to try thi

[2015-11-15 10:37] MiguelGArgiles commented on #169
Hi @jehiah and @mbland

Thank to your help, I finally managed to fix it.
As you pointed out, I made two mistakes:

- I was using the last release instead of last master commit.
- My nginx config file had mistakes.

As I said thank you for your help

[2015-11-15 10:37] #169 closed

[2015-11-18 00:56] deltaroe opened #171 "Add X-Forwarded-Proto header when proxying https traffic"
Some upstream systems (Jenkins under Jetty for example) need the X-Forwarded-Proto header present to properly function when using oauth2_proxy as both auth and ssl termination.

Without the header any redirects returned by the upstream are for http instead of https

[2015-11-18 01:02] jehiah commented on #171
@deltaroe sounds good. Do you want to open a PR for this?

[2015-11-18 01:09] deltaroe commented on #171
I wrote a dirty hardcoded hack that fixed my current issue, but I have very limited experience with go and figured I'd create an issue incase someone had cycles to do it properly before I had the time to stumble through doing it myself.

[2015-11-18 08:48] jburnham opened #172 "Improvements to Google group authentication"
So we're finally looking closer into group level access with oauth2_proxy and we discovered some problems with the current approach.

1. Either Google added or I missed the fact that you can query the list of groups a user is a member of in a single call https://developers.google.com/admin-sdk/directory/v1/reference/groups/list passing in userKey.
2. Once someone successfully authenticates with an

[2015-11-18 15:05] jehiah commented on #172
First off. passing `userKey` to `/v1/reference/groups/list` is awesome. I'm pretty sure that's new (or i'm going to be kicking myself). I think that works out better than listing all members for the group (current implementation) but it unfortunately still requires an admin token and can't be called with a user token to get the users group list (oh well).

Can you open a separate issue for the sec

[2015-11-18 16:43] jburnham opened #174 "Issues with multiple oauth proxies with different group restrictions sharing cookies."
Once someone successfully authenticates with any oauth2_proxy, theoretically they could successfully log into a different proxy instance that does restricts users to a group that user is not a part of because it uses the same cookie name. This assumes the cookie is valid and doesn't need to be refreshed, therefore the second proxy would forego the need to check group membership. The workaround wou

[2015-11-18 16:45] jburnham commented on #172
Done. Opened #174. I'll work on cleaning up the logic to use the new api calls hopefully tonight.

[2015-11-18 16:50] jehiah commented on #174
thanks @jburnham I think i like the second path you mentioned.

If we change the group restriction to be per-request (as opposed to the access token re-validation which is periodic) we can keep an in-memory [LRU store](https://github.com/jehiah/lru) per oauth2_proxy for the user->group mapping from #127. That would allow multiple oauth2_proxy to share authentication, but have different group restr

[2015-11-18 16:59] jburnham commented on #174
Would we still want a ttl on the cache entry to force group re-verification on a user defined ( or hard coded ) interval?

I was definitely going to look into making group 403's not force the cookie to be deleted since that is much friendlier.

[2015-11-18 19:11] jburnham commented on #174
Can you elaborate on your aversion to storing groups in the cookie? This would allow stateless group authentication as long as the cookie can be validated. This would then allow all instances of oauth2_proxy to send an X-Forwarded-Groups header that downstream services can use for additional checking. Services like GodAuth and variants used by Flickr and Etsy store groups in the cookie. See https:

[2015-11-18 19:17] jehiah commented on #174
General aversion to putting groups in cookie is to avoid cookie bloat; I also don't think there has been a need to store provider specific info (like groups) in the cookie, so if the google auth provider can leverage the access token and keep it's own state that also seems preferable so that things are more consistent across providers.

[2015-11-19 07:04] jburnham commented on #174
My concern is when using many different instances of oauth2_proxy across your infrastructure, they are each keeping a copy of the provider data and they could each be in a different state. If you instead use some shared state like redis/memcached this adds additional infrastructure that you have to maintain and grant access to for all your auth boxes.

I feel like storing this data in the cookie i

[2015-11-27 10:31] ArnaudT opened #176 "google authentication: syntax error: sequence truncated"
Hi,

I am using the latest master version from the 26-11-2015. I want to use the master version because I am interested with the -google-group support.

Here my command:
[code]

I have the following error when I log in:
[code]

[2015-11-27 12:29] jehiah commented on #176
`private key should be a PEM or plain PKSC1 or PKCS8; parse error: asn1: syntax error: sequence truncated` indicates you have an issue validating TLS for `www.googleapis.com`. Typically this is automatically loaded from one of the files referenced [here](https://github.com/golang/go/blob/master/src/crypto/x509/root_linux.go#L8-L13) and is provided by the `openssl` package.

Can you confirm you hav

[2015-11-27 13:10] ArnaudT commented on #176
Thanks for your response.
Yes I have the following file `/etc/ssl/certs/ca-certificates.crt`.
but you right, it seems not valid has it has expired.

[code]

[2015-12-09 12:16] ArnaudT commented on #176
Hi,
I can not find a way to update the following certificate `/etc/ssl/certs/ca-certificates.crt`.
I am using `Linux ip-10-0-101-36 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

I will find another way to manage group.

Thanks for your help.

[2015-12-09 12:16] #176 closed

[2015-12-10 17:08] pawanrawal opened #179 "OAuth 2 proxy redirects POST request which have // in path"
I have OAuth 2 proxy which has [Grafana](https://github.com/grafana/grafana) as an upstream.

Grafana web makes a POST call to a url like this `localhost:4180/api/datasources/proxy/2//_msearch?search_type=count` . Since the path has a `//` before `_msearch`, oauth2_proxy immediately returns a 301 and sends a GET request to the same url which fails my request. Any reason why this might be happening

[2015-12-14 21:24] nordicdyno opened #180 "Use email in X-Forwarded-User"
Sometimes it would be more useful to pick Email instead of Username from oauth provider(s) as `X-Forwarded-User`.

Reason 1: Email is more unique
Reason 2: Actually I need backward compatibility for [my proxy implementation](https://github.com/nordicdyno/jenkins-goauth2). After that I can abandon support of it and switch on this amazing proxy ;)

[2015-12-14 21:32] jehiah commented on #180
@nordicdyno `oauth2_proxy` already provides the header `X-Forwarded-Email`, so it's not completely clear to me exactly what you are proposing.

[2015-12-14 21:49] nordicdyno commented on #180
I just want forward email as 'user name' to backend services. I think it requires code like:

    if AuthEmailAsUser {
        req.Header["X-Forwarded-User"] = []string{session.Email}
    }

I've tried `oauth2_proxy` in my environment today and was recognized by Jenkins as `nordicdyno` instead of nordicdyno@gmail.com (that I actually need)

[2015-12-14 21:54] nordicdyno commented on #180
Oh, sorry! I see. Jenkins is flexible enough to redefine «Header User Name» to any header name.

Maybe other software can be not so flexible? just guessing

[2015-12-17 01:21] jehiah commented on #180
@nordicdyno Thanks for opening this issue. I'm going to close it as you were able to successfully leverage the existing `X-Forwarded-Email` header.

[2015-12-17 01:21] #180 closed

[2015-12-17 01:32] jehiah commented on #179
@pawanrawal hmm... This certainly sounds like path normalization, but i'm not sure where that would be happening. Can you share some logs that might show this happening?

[2015-12-23 14:40] eriste opened #185 "Remap username against Ldap"
We're using Google to do oauth2 SSO to an internal service and Ldap to fetch information about group memberships etc. The problem is that some of our users have different Ldap uids and Google email addresses (without domain part), ex eriste != erik.stenvall.

To solve this I propose to have the oauth2_proxy make an Ldap call, searching for a matching email address and then substitute the values X-

[2015-12-26 20:29] bob-rove opened #186 "404 error on auth request in 2.0.1 release build"
If I'm running downloaded 2.0.1 release build, it responds with 404 on auth request:
[code]

However, binary built from sources works fine:
[code]

Config:
[code]

[2015-12-26 20:34] bob-rove commented on #186
Sorry, just realised that this feature wasn't included in 2.0.1 release build.

[2015-12-26 20:34] #186 closed

[2015-12-28 18:00] agonzalezro opened #187 "Unsupported protocol scheme "file""
Hi, I am trying to use oauth2_proxy as an auth server + static server.

I can get it to auth, but it doesn't seem to server the static files properly. With this conf:

[code]

I can access to http://127.0.0.1:4180/Users/alex/Desktop/oauth2_proxy-2.0.1.darwin-amd64.go1.4.2/static/index.html without getting a 404, but the console shows the following:

[code]

[2015-12-28 18:03] agonzalezro opened #188 "Fragments for static serving don't work"
From the documentation:

With this configuration:

[code]

If I want to access to the file `index.html` that I have on `/static/` I need to go to this URL: http://127.0.0.1:4180/Users/alex/Desktop/oauth2_proxy-2.0.1.darwin-amd64.go1.4.2/static/index.html and not to: http://127.0.0.1:4180/static/index.html as expected.

Related: https://github.com/bitly/oauth2_proxy/issues/187

[2015-12-29 11:56] agonzalezro commented on #188
Solved using the current master instead the release file.

[2015-12-29 11:56] #188 closed

[2015-12-29 11:56] agonzalezro commented on #187
Solved using the current master instead the release file.

[2015-12-29 11:56] #187 closed

[2016-01-04 12:21] r4um opened #189 "Why redirect via state parameter ?"
This essentially turns oauth2_proxy into an open redirector.

As per the [RFC](https://tools.ietf.org/html/rfc6749#section-3.1.2.2) since we already have a registered redirection URI, do we really need to redirect
based on state parameter ?

[2016-01-07 09:45] agonzalezro opened #191 ""Everything" is in the main package"
Hi!

Having all the code in the main package disallows their usage as a package.

I would follow a convention like moving the main command to `cmd/oauth2_proxy/main.go` and have the packages in `/`.

I am working in a project that makes some actions for creating static files and then starts the oauth2_proxy with a configuration just created. ATM I am using a `exec.Cmd` for running oauth2_proxy but

[2016-01-11 03:49] therc opened #192 "Support split-horizon DNS for an arbitrary number of upstreams"
Suppose you have N internal hosts you want to expose with just one proxy instance.
If you have a split-horizon DNS setup, you can make all external lookups return the same public address of the instance. Internally, they return distinct IP addresses, e.g. in the 10.* range.

How would you support this, without listing all the internal hosts as upstreams? Assume the list keeps changing.

One way to

[2016-01-11 04:53] jehiah commented on #192
@therc interesting questions. There is always going to be some limitation in native routing that `oauth2_proxy` provides. Fortunately this is the benefit of HTTP as it's easy to layer systems (And really, this is exactly what `oauth2_proxy` was created for: adding "just" an authentication layer).

In your case i would probably use `oauth2_proxy` in front of `nginx`, and in `nginx` I would handle r

[2016-01-11 15:09] therc commented on #192
In my case, there's already something else in front of the proxy, the upstreams have their own internal load balancing and, although the list might change frequently, names are predictable and easily matched by a regex, so I'd rather not add yet another moving part. Would you be interested if I sent a PR with no more than a few extra lines in the actual serving path?

[2016-01-13 13:58] tanuck opened #193 "A new tag"
Hi guys,

I've noticed theres been quite a few commits since the last tag, and I'd especially like to use the `file://` upstreams without having to rely on an active. So with that in mind, do you think a new release could be tagged sometime soon?

Thanks!

[2016-01-13 14:28] jehiah commented on #193
Great idea. It is about time. I'll try to do that this week.

[2016-01-13 14:44] jehiah commented on #189
@r4um the redirection based on the state variable and should be limited to paths on the same domain, so it shouldn't be an "open" redirector.

If a user lands on page A (le'ts say `/page/a` ) and is unauthorized, they get the sign in page as expected. To complete the oauth flow with an authentication provider, the authentication provider will send the browser back to `https://$domain/oauth2/callba

[2016-01-13 14:47] jehiah commented on #192
@therc thanks again for opening this issue. I've been thinking about it a bit and i think i'm going to close it, as i don't want the configuration for upstreams to get too complicated, and i think introducing regexes on the host or full upstream would do that.

I think your best bet if your hostnames are fairly predictable and can be fetched from an external state is to make a shell script that re

[2016-01-13 14:47] #192 closed

[2016-01-13 19:48] r4um commented on #189
The problem is it redirects to any http://somesite.com, if it is set by the state param (state=http://somesite.com). I don't see any check in the code where it ensures state is in `$domain`.

[2016-01-18 15:07] r4um commented on #189
Does the following patch look meaningful to not accept any host in the state param ? I'll send a PR if it is.

[code]

[2016-01-19 02:03] jehiah commented on #189
@r4um an appropriate check at that point would just be ignoring `state` if it is present but does not start with `"/"`. That would match the check [here](https://github.com/bitly/oauth2_proxy/blob/master/providers/provider_default.go#L87-L89) at the start of the oauth flow.

[2016-01-19 07:45] r4um commented on #189
Thanks, filled #194.

[2016-01-20 05:12] jehiah commented on #192
@therc It just occurred to me that your config might be better served by using the `ouath2_proxy` built in support for Nginx [auth requests](http://nginx.org/en/docs/http/ngx_http_auth_request_module.html)

[2016-01-20 05:25] jehiah commented on #185
see comment in #190

[2016-01-20 05:25] #185 closed

[2016-01-20 05:26] #162 closed

[2016-01-20 05:26] #155 closed

[2016-01-20 05:27] #146 closed

[2016-01-20 05:28] #97 closed

[2016-01-20 05:30] jehiah commented on #193
There are a few outstanding PR's that i'm going to try to get over the finish line before tagging a release.... stay tuned

[2016-01-20 05:32] #189 closed

[2016-01-21 18:00] kevinschumacher opened #196 "Crash when token refresh fails because access was revoked"
Specifically seeing this with the Google provider, not sure if it impacts other providers as well.

When oauth2-proxy tries to refresh the authentication token, if Google responds with
[code]
there is a
[code]

I have oauth2-proxy configured behind nginx, so I just see 502 bad gateway responses from nginx. Not sure what oauth2-proxy is serving (I imagine a 50X error)

A workaround we've been using

[2016-01-21 18:04] jehiah commented on #196
ouch. no good. Are you interested in trying to open a fix for this @kevinschumacher ?

[2016-01-21 18:34] kevinschumacher commented on #196
Well, I've been looking at it for a few minutes, and I'm not really sure (I've never worked with go before)

I see here in providers.google.redeemRefreshToken(...) there is a check for non-200 codes, and, I guess token and duration will be nil. So then up the callstack in `RefreshSessionIfNeeded` the `err` gets passed back up.

Here https://github.com/bitly/oauth2_proxy/blob/d5a332c3f2de57b28e3527

[2016-01-21 18:56] jehiah commented on #196
no worries. I'm pretty sure this bug is already fixed by #117

Are you using version 2.0 instead of 2.0.1? (also a new 2.1 release is due out shortly)

[2016-01-21 20:45] kevinschumacher commented on #196
I'm running 2.0.1 and this bug persists

[2016-01-21 20:51] jehiah commented on #196
oops sorry. you are correct. This was actually fixed by #139 and will be included in the next release (due out shortly #193 )

[2016-01-21 20:51] #196 closed

[2016-01-23 01:19] kishore1431 opened #198 "X-Forwarded-User is not getting forwarded to upstream"
Hi,

  I don't see X-Forwarded-User and X-Forwarded-Email forwarded to upstream, I have captured the request/response and don't see them anywhere. I have also tried passing "-pass-basic-auth=true -pass-host-header=true" on the cmd line as part of the oauth2_proxy startup but still no luck.

Am i missing something here ?

My stack is ELB -> nginx -> oauth2_proxy - > App server , I am looking for th

[2016-01-28 11:25] ldgeo opened #200 "support for gitlab provider ?"
Adding support for gitlab as a provider would be great !
http://doc.gitlab.com/ce/integration/oauth_provider.html
thus we could use it with our self-hosted gitlab service.

[2016-02-02 19:17] kishore1431 commented on #198
I found the issue, didn't realize that we have set " pass_basic_auth = false" in oauth.cfg and we were trying testing out by passing cmd line param "-pass-basic-auth=true". Looks like the config from .cfg file is taking the precedence.

[2016-02-02 19:17] #198 closed

[2016-02-03 03:36] ncstdc opened #202 "support for Duo security?"
I would like to request to add Duo 2FA as another provider. https://duo.com/

[2016-02-04 20:32] hhsnopek opened #203 "Can upstream be a remote server? - Debug request"
I'm attempting to use `oauth2_proxy` to put a authentication wall up in front of a static site that is hosted else where. I'd like the upstream to be the remote site or be able to continue onto the remote site via `proxy_set_header Host remote.site.com;`

Here's my current nginx conf:
[code]

My upstream is set to `"http://app2.example.com/"`, after authentication thru Google I return to my callba

[2016-02-04 22:37] BSick7 commented on #193
@jehiah would love github enterprise support if you can make it happen

[2016-02-05 19:48] ploxiln commented on #203
Assuming app2.example.com depends on the Host header to be reached, you'll want to set `--pass-host-header=false` for oauth2_proxy so it uses the host of the upstream url for the Host header.

If you don't also use `--signature-key=...` to sign requests to the remote upstream, and validate those requests on the upstream side, then the remote upstream would be vulnerable to direct access from users

[2016-02-05 20:08] hhsnopek commented on #203
@ploxiln thank you, but since yesterday i've updated my nginx (wasn't able to get `oauth2_proxy` to work in that scenario)...

I have multiple apps now and considering I can pass the host header, I should be able to reach the original `proxy_pass` specified in each subrequest... tho `oauth2_proxy` isn't even being touched/routed to. (sorry for the lack of nginx knowledge, learning as I go here). I

[2016-02-05 20:30] ploxiln commented on #203
Every request needs to go through oauth2_proxy to get to the app. oauth2_proxy is intended to proxy all the requests to the app to make sure they are all authorized.

To handle multiple apps, you have a few options.
  * multiple instances of oauth2_proxy, one per upstream, listening on different ports. nginx chooses the oauth2 proxy based on the host header
  * multiple upstreams configured in the

[2016-02-05 20:58] hhsnopek commented on #203
haha understood, let me rephrase my question, I know in the last example in the `readme.md` uses `auth_request`, I'm suppose to handle the `/oauth2/callback` not `oauth2_proxy` correct?

[2016-02-05 21:13] ploxiln commented on #203
I'm not familiar with auth_request myself, but the example at the bottom of Readme.md looks incomplete. First, the default auth endpoint is `/oauth2/auth`, not `/auth`, and you would likely need to proxy all of `/oauth2/*` to oauth2_proxy so it could handle the callback etc. Finally, for the 401 error page, you should probably use or redirect to `/oauth2/sign_in`. Again, I'm not really familiar wi

[2016-02-05 21:16] hhsnopek commented on #203
I was stumped on that for a while, thank you very much! :smile:

[2016-02-05 21:16] #203 closed

[2016-02-06 22:14] nneul opened #204 "Name based vhosts?"
Would be nice to have ability to set up a single proxy to protect multiple services and have the passthrough configurable by hostname. This can be done now in conjunction with another web proxy server, but supporting it directly in oauth2_proxy would be great.

[2016-02-06 22:14] nneul commented on #204
SNI support for certs would be related, but not strictly necessary.

[2016-02-08 15:34] omazhary opened #205 "X-Forwarded-User should be configurable independent of -pass-basic-auth option"
We are using oauth2_proxy in front of [grafana](http://docs.grafana.org/installation/configuration/#authproxy) with its "auth.proxy" configuration option. This relies on X-Forwarded-User header to be sent.
However if we use option `-pass-basic-auth`, we not only get X-Forwarded-User but also Authorization: Basic with the base64-encoded username and an empty password. This will fail the login to gr

[2016-02-12 20:21] gkuchta opened #209 "New Release?"
Hi,

The ability to use Enterprise GIT is a pretty compelling feature. Any chance you could bundle a new release? Lost some time this afternoon trying to figure out why my validate_url params, etc, weren't being respected until I compared the feature-addition PR to the release date. Can build my own, but it might save some confusions for other folks.

Anyhow, handy bit of kit! Thanks for your work

[2016-02-17 11:10] raphink opened #215 "Suffix ignored after path when proxifying?"
When setting an upstream such as `http://hello/foo/bar/`, all requests *starting* with `/foo/bar/` are redirected to `http://hello/`.

For example, `http://<mydomain>/foo/bar/logo.png` displays the content of `http://hello/`, not `http://hello/logo.png`.

Is that normal?

[2016-02-17 14:04] #200 closed

[2016-02-17 17:00] ploxiln commented on #215
The request to `http://<mydomain>/foo/bar/logo.png` is proxied to `http://hello/foo/bar/logo.png` (but it will keep the original `<mydomain>` Host header unless configured otherwise). Your app is likely not expecting such a request :)

[2016-02-17 22:00] raphink commented on #215
OK that makes more sense. Is there a syntax to proxy `/foo/bar/` to `/` as described in my initial question?

[2016-02-17 22:08] ploxiln commented on #215
I don't think there is such syntax or option. You'll want to get something like nginx involved in your setup.

[2016-02-17 22:09] raphink commented on #215
Right, or haproxy... But then I'll need to have one oauth2_proxy for each backend I guess, since nginx/haproxy would be doing the routing...

[2016-02-17 22:24] ploxiln commented on #215
yup - or: web -> oauth2_proxy -> nginx/haproxy -> backends

[2016-02-18 07:44] raphink commented on #215
But then oauth2_proxy would have to be the SSL termination

[2016-02-19 20:00] ploxiln commented on #215
oauth2_proxy can do ssl termination. But, I've acutally done this before:
internet -> nginx 0.0.0.0:443 -> oauth2_proxy -> nginx 127.0.0.1:8000 -> files/upstreams
(same nginx process, two different server blocks in the config)

[2016-02-19 21:33] raphink commented on #215
I see. I'll have to look into that as I want to use oauth2_proxy add as generic auth service in rancher.

[2016-02-20 00:50] RobCherry opened #216 "Panic on startup"
Appears to have been caused by https://github.com/mreiferson/go-options/pull/4.

[code]

[2016-02-20 00:52] mreiferson commented on #216
whooops

[2016-02-20 00:53] mreiferson commented on #216
You should probably use `godep` to build the binary, though, so you don't pickup random changes to master in its dependencies.

[2016-02-21 00:21] RobCherry commented on #216
@mreiferson Yeah, using https://github.com/pote/gpm I was able to get it building again.  I am going to update the issue to reflect that this project will not run with the latest versions of https://github.com/mreiferson/go-options.

[2016-02-23 20:28] gamename opened #217 "Query: Which Scenarios From RFC 6749"
Hi,

I'm new to the OAuth2 world.  RIght now, I'm trying to get my head around the different aspects of the standard.  Looking at the different ways OAuth2 can be used, I'm confused about the exact capabilities implemented here.

Which Authorization Grant configurations are supported by the proxy?

The RFC [defines 4 types](http://tools.ietf.org/html/rfc6749#section-1.3):
[Authorization Code ](htt

[2016-02-23 20:49] kishore1431 opened #218 "Google - continually use refresh token ( NOT Working )"
The refresh access token is not happening on the master branch. The pull request #117 solved this but looks like its broken on the master branch. The session times out after 3600 seconds and asks user to login again.

[2016-02-23 21:13] ploxiln commented on #209
dup of #193

[2016-02-23 21:14] ploxiln commented on #215
I suggest closing as #notabug

[2016-02-23 21:34] jehiah commented on #218
@kishore1431 can you share what your relevant config options are? Also, are you seeing any errors in the oauth2_proxy logs?

[2016-02-23 21:35] #215 closed

[2016-02-23 21:59] jehiah commented on #209
yes yes, we do need a new release. noted =)

[2016-02-23 21:59] #209 closed

[2016-02-24 20:06] kishore1431 commented on #218
Here are the config options that i am using. I don't see any errors but i know longer see this happening

"2016/02/24 11:45:02 google.go:154: refreshed access token Session{xyz@abcd.com token:true expires:2016-02-24 12:45:02 -0800 PST refresh_token:true} (expired on 2016-02-24 11:21:58 -0800 PST)"

I rolled back to v2.0.1 and the refresh access token is working as expected but this version has "ap

[2016-02-24 20:12] jehiah commented on #218
@kishore1431 are you sure you are not just observing the timeout passed the 9h cookie TTL? (FWIW, i run with expiration set to `504h` and refresh set to `3h`.

[2016-02-24 21:41] kishore1431 commented on #218
@jehiah :). Its definitely not the 9h timeout, its timing out every 60 mins and asking user to login again.

[2016-02-25 07:39] raphink opened #220 "X-Forwarded-Proto not honored?"
In the provided example for https setup, Nginx is set up with `proxy_set_header X-Scheme $scheme;` to let oauth2_proxy know that the scheme is https. In haproxy however, another header is usually passed instead with `http-request add-header X-Forwarded-Proto https if { ssl_fc }`. I'm guessing oauth2_proxy doesn't understand that header.

Here are the steps to reproduce:

* Clean existing oauth2_pr

[2016-02-25 14:49] mattbostock opened #221 "Binaries built using Go 1.5.3 to address TLS security issue"
go1.5.3 (released 2016/01/13) [includes a security fix](https://golang.org/doc/devel/release.html) to the math/big package affecting the crypto/tls package, which could affect anyone using oauth2_proxy with TLS enabled.

It might be prudent to release new binaries using Go 1.5.3 to address the issue. Anyone could build their own binaries in the meantime to workaround.

[2016-02-25 14:52] jehiah commented on #221
Thanks @mattbostock going to mark this as a duplicate of #193 I've been busier than expected, but this isn't forgotten

[2016-02-25 14:52] #221 closed

[2016-02-25 14:55] mattbostock commented on #221
Thanks @jehiah :+1:

[2016-02-27 21:11] szibis commented on #218
Yes i have same issue. All cookie refresh is working, and there is valid response from google:
[code]
in config:
[code]
As we see in log output above, we have ```expire_in``` that google is setting to 3600 seconds - no more, no less and not configured.
And in this ```1h``` period of time all is working like should. When i set refresh cookie to 15 minutes and block user account in Google, then user

[2016-03-02 08:41] bangert commented on #39
a systemd service file has been added to the contrib directory
https://github.com/bitly/oauth2_proxy/blob/master/contrib/oauth2_proxy.service.example

[2016-03-03 00:31] ajsharp commented on #39
It would be great to add upstart and system V examples for the time being (those aren't going anywhere anytime soon).

[2016-03-07 16:14] phillip-white-sociomantic opened #224 "Upstream redirect requesting /oauth2/start"
I have an issue with the proxy's upstream.

I am using Apache 2.2, configured with ssl with this proxy config:
[code]

And oauth2_proxy is initialized with:
[code]

The upstream folder just has an `index.php` and is mapped in another apache config file:
[code]

So going to `https://server/test` works fine.

When I enable oauth2_proxy, the github auth does not pop up. Instead i have an error in the

[2016-03-07 21:42] shachibista commented on #224
I think you need to specify:

`ProxyPass "/oauth2" "https://localhost:4180/oauth2"`

[2016-03-08 08:02] johnrengelman commented on #205
+1 Just smashed into this exact issue as well. Changes LGMT.

[2016-03-08 08:58] johnrengelman commented on #205
Was just trying this patch out, but there still doesn't seem to be a way to log in to Grafana with Basic Auth once this proxy is in front of it (maybe that makes sense), but I'm trying to get at the built in admin account, but I always get redirected back to my oauth login.

[2016-03-08 10:07] omazhary commented on #205
Hi John, our scenario only relied on OAuth authentication, that's why we chose this proxy. It performs the authentication with grafana in the background and then logs you in directly to the dashboards. Making the regular grafana login page accessible would make the login process a little confusing.

Regarding the built-in admin account, you should be able to login using the UAA admin, as long as i

[2016-03-08 10:23] johnrengelman commented on #205
Got it.

Definitely a bit annoying. Not really an issue with this tool, but was unexpected. Would be nice if Grafana had a property to promote specific accounts to admin on creation. Anyway, I worked around it, but bypassing the proxy, then logging in with the admin account and promoting my OAuth account to be an admin.

Thanks for the pointers.

[2016-03-08 10:30] omazhary commented on #205
No problem ;)

[2016-03-08 12:59] phillip-white-sociomantic commented on #224
Thanks @shachibista That worked for `The requested URL /oauth2/start was not found on this server` error. Now after it authenticates, the upstream url directs back to the server root at `https://server.com`. Without passing the upstream.

outh2_proxy errors:
[code]

I am thinking that `127.0.0.1:55492 Cookie "_oauth2_proxy" not present` is the cause of the problem. If the cookie fails, it will not

[2016-03-10 17:05] grahamrhay commented on #205
I have the same problem in front of Jenkins, the basic auth header causes the reverse proxy plugin to error, but I need the X headers. It would be great if this was merged.

[2016-03-11 00:33] hulbert commented on #149
@johnboxall can you clarify the need for basic auth here? Is the case that you'd run two separate heroku apps?

[2016-03-11 00:57] johnboxall commented on #149
@hulbert the upstream apps we're looking to add authentication to are available on the public internet.

Typically we protect them by using a shared secret over HTTP Basic Auth – this way you can't drive by access them on the web, but if you know the secret, you can still access them to check that they work.

We set them here, so that they are sent upstream by `oauth2_proxy`, causing the app to su

[2016-03-11 02:50] hulbert opened #225 "stuck on github setup"
I'm trying to set up proxying on Heroku using oauth2_proxy with Github in front.

I've tried a number of things but continue to just get redirected back to the sign in page. The cookie never seems to get set and the logging of the session after successful contact with Github seems odd compared to other examples I've seen.

The Heroku procfile runs this `bin/oauth2_proxy-2.0.1.linux-amd64.go1.4.2/o

[2016-03-11 08:59] szibis commented on #218
More update. Looks like problem exists only on pages that use xhr requests from javascript. After one hour when access token expires and full auth is triggered for any request (cookie refresh and session expires in oauth2) then any request from javascript inside page fails.
It fail on accounts.google.com, because Google is not allowing this origin to talk from javascript - CORS (they don't expose

[2016-03-11 10:50] szibis commented on #218
Error from Google:
[code]
Origin is available in request headers to Google. My origin is set in google developers panel in ```Authorized JavaScript origins ```

[2016-03-14 00:17] hulbert commented on #225
Apologies for bumping but wondering if anyone has ideas on this? Or a replicable Github config for 2.0.1?

[2016-03-22 21:47] ntrepid8 opened #227 "Cookie secret encoding?"
What sort of encoding is expected for the cookie secret value?  It looks like the validate test is counting the number of characters (16, 24, or 32) in the string but I'm not sure how that relates to the number of bytes represented by the string.

If the encoding was urlsafe base64 a 32 byte string would look like this:

[code]

This string is 44 characters with the padding.  Each character repres

[2016-03-23 03:23] ploxiln commented on #227
cookie-secret is not encoded, it is used as-is. It is true that most users will pass a string of bytes which are not uniformly distributed across all byte values, but rather only include convenient printable ascii values. If the key is long enough, that's actually OK, there's still enough entropy in the string. If you just use the ascii characters typically used for urlsafe base64: `64^16` is stil

[2016-03-23 14:44] ntrepid8 commented on #227
Ok, that makes sense if the cookie secret is being treated as a raw byte string.

It may be worth treating the cookie secret as a base64 or base16 encoded value so all possible byte values can be represented. Using printable ascii only gives access to 37% of the possible values for each byte.

It is correct that allowing 64 possible byte values in a 16 byte string allows for many combinations:

[c

[2016-03-23 16:57] ploxiln commented on #227
Maybe a 24-character secret key would satisfy you, with another couple orders of magnitude:

[code]

I should also clarify my "arbitrary bytes" tip above to say that I think zero values aka null bytes will be problematic. Also, there are more convenient ways of specifying specific arbitrary non-null bytes:

[code]

You can likely put hex in your config management system and somehow get it decoded

[2016-03-23 17:14] ntrepid8 commented on #227
OK.  I'm reading this as a polite "no thanks" for the idea of base64 encoding the cookie secret so you can represent a 32 byte string in printable characters with this many possible values:

[code]

I appreciate your consideration of the suggestion :)

[2016-03-23 21:05] ntrepid8 commented on #227
In case there is any interest later, here is a diff: https://github.com/bitly/oauth2_proxy/compare/master...ntrepid8:feature/base64-encoded-cookie-secret

[2016-03-23 21:38] ploxiln commented on #227
For the record, I don't think accepting base64 is necessarily a bad idea, nor am I a maintainer of this project. It would need a new option so the current one remains backwards compatible (which your branch does correctly), so I was clarifying how the current option works and what is possible with it. Someone in a better position than me can judge whether it's worth it.

[2016-03-24 14:25] jehiah commented on #227
@ntrepid8 I'm going to re-open this. Seems totally fair to conditionally treat values as base64 encoded and automatically base64decode if the value consists of that character set. I'd accept such a PR

That would allow us to document the expected (ideal) format of that field as base64.

There is a small chance such a change would be backwards incompatible for some users, but i think we can version

[2016-03-24 14:26] jehiah commented on #227
also, thanks @ploxiln for clarifying some of the options to put raw bytes in the env variables

[2016-03-24 16:16] ntrepid8 commented on #227
@jehiah do you prefer pull requests with all the commits flattened in to a single commit?

Also, to clarify do you want me to consolidate the cookie-secret to a single option (rather than cookie-secret and cookie-secret-b64) and treat it as a base64 encoded value unless it's in an incompatible format?  And in the case of an incompatible format, treat it as raw bytes?

If that's the case, I'll subm

[2016-03-24 16:44] jehiah commented on #227
I don't have a preference for commit format for review, but I generally ask for squashing to a single commit before merging.

Yup. exactly. if it looks like base64, treat it as such, otherwise treat it as raw bytes. (and document base64 as the preferred format)

[2016-03-26 16:07] sdier opened #228 "'/' redirect check isn't enough."
'//foo.com/foo' is a valid url, so the redirect check at oauthproxy.go:479 is not sufficient for its intent.

Since I'm using this hole to redirect to other domains within a set of subdomains -- it would be cool if this was somehow preserved so I can have a partially open redirect.  (I'm using an 'auth' domain and redirect to it from other domains and then redirect back while using the nginx aut -

[2016-03-30 23:08] shachibista commented on #224
Try setting cookie_secure to true in your oauth proxy config.

[2016-03-31 08:29] phillip-white-sociomantic commented on #224
I managed to resolve this. The Wildcard SSL certificate was not setup in Apache correctly.

[2016-03-31 08:29] #224 closed

[2016-03-31 13:30] raphink opened #229 "Allow providers to set session User and Email"
Currently, Oauth2_proxy computers session User from session Email (as the left part of the email string).

It would be better to have providers provide that information, to have a correct X-Forwarded-User value.

[2016-03-31 14:30] raphink commented on #229
Use case: in gogs, the field can be used to automatically create users. Passing usernames makes more sense than passing emails for that need.

[2016-04-01 23:51] gkuchta commented on #225
Try removing

`scope = "user:email,read:org"`

The scopes should be setup automatically.

https://github.com/bitly/oauth2_proxy/blob/v2.0.1/providers/github.go#L42
https://github.com/bitly/oauth2_proxy/blob/v2.0.1/providers/github.go#L50

Off the top of my head, I'm wondering if you aren't getting some weirdness in `ParseQuery` by having, essentially, `p.Scope = "user:email,read:org read:org"`

[2016-04-04 03:11] hulbert commented on #225
@gkuchta thanks for the idea, I tried w/ that line removed from my config file but ended up with the same type of logging of authentication complete but then `Cookie Signature not valid` (same as before).

[2016-04-08 21:37] iremmats opened #232 "Problem with the Azure Provider"
Hi,

Testing this proxy out. Managed to get the GitHub provider working. My use case is trying to get security for Elasticsearch/Kibana using oauth2_proxy and nginx.
When switching to Azure provider I run into problems... Here is part of my config.

cmd="oauth2_proxy -client-id=clientidfromazuread \
-client-secret=clientsecretfromazuread \
-provider=azure \
-azure-tenant=azuretenantGUID \
-email-d

[2016-04-10 11:52] iremmats commented on #232
Seems to be problem getting the email....

[2016-04-14 15:57] willdurand opened #236 "[GitHub] Does it retrieve *all* organizations?"
Hi!

Thanks for having created this awesome proxy, works very well! 👏

Yet, I have a quick question regarding the implementation of the GitHub provider. I am pretty sure that it does not fetch all organizations of a user, but only the first batch (I'd say the first 15 according to... me).

I know it is not common to have many organizations, but it may happen. I am not able to authenticate to one o

[2016-04-17 14:44] amlwwalker opened #237 "Multiple Sub Domains"
Can this be used to handle multiple sub domains at once?
For instance, if Nginx is used to route x.company.com and y.company.com can this be used as authentication for both, and on successful auth it passes the connection to the right application? I can see you can have multiple upstreams, but it looks like you can only have one `redirect-url`

[2016-04-17 16:50] amlwwalker opened #238 "Cookie "_oauth2_proxy" not present"
Hi, I've tried the following on both an SSL protected app on the server and a standard HTTP app. The configuration apart from that has been identical.

I start oauth2_proxy with:

[code]

At this point, I think its important to mention I am not entirely sure what the difference between the upstream URL is and the redirect-url. However I don't think it is those causing me my problem. What I do thin

[2016-04-17 18:26] ploxiln commented on #238
The "nginx auth_request" mode documentation is very poor - it's incomplete and, basically, wrong. If you're proxying to a single application, just proxy, don't auth_request.

see #169 and https://github.com/bitly/oauth2_proxy/issues/203#issuecomment-180555655

[2016-04-17 18:33] ploxiln commented on #237
One "simple" way to do this is to run two instances of oauth2_proxy, which use the same cookie-secret and both set cookie-domain to `.company.com`. Then, after logging into one, you won't have to log into the other, the oauth2_proxy cookie (which applies to all subdomains) will let you through.

[2016-04-18 09:45] willdurand commented on #236
well. nevermind, it seemed to be a caching issue.

[2016-04-18 09:45] #236 closed

[2016-04-18 10:01] amlwwalker commented on #238
OK thanks, thats good knowledge...

I have adjusted Nginx so that my location block now looks like:

[code]

which means that I do now see oauth2_proxy when I hit the url. Thats good.

I am starting it with

[code]

So I suppose my question is now have I got the upstream right for a local app and the -redirect-url for google auth?

I do indeed get carried through to google auth, it asks for offlin

[2016-04-18 13:41] amlwwalker commented on #238
I found the answer to this. Hopefully it will help anyone else.

My final nginx configuration looks like this. Adding the proxy information seemed to solve the passing of the cookie:

[code]

Then to start oauth2_proxy I used:

[code]

Can we add this to the readme?

[2016-04-18 13:41] #238 closed

[2016-04-18 17:14] amlwwalker commented on #237
OK and just so I am clear, if I had 10 domains I wanted to protect I would need 10 instances of oauth2_proxy?

Is there a "complicated" way?

I was wondering whether oauth2_proxy can look at the domain that is coming in and make a "smart" decision on which upstream to forward to based on that? I presume the oauth (i.e google) only needs one redirect-url but oauth2_proxy would need one redirect url

[2016-04-18 17:45] ploxiln commented on #237
I suggest something like:
nginx port 80/443 -> oauth2_proxy port 4180 -> nginx port 5180 -> various upstreams

but see also: #143 #12 ... and also auth_request, if you can figure out how to use it, also can be used to leave all the multi-subdomain logic in nginx

[2016-04-19 17:35] annieweng commented on #232
gotten same issue, did you ever figure out which line is causing "assertion to string" fail?

[2016-04-19 17:36] amlwwalker commented on #237
@ploxiln does oauth2_proxy pass the domain to nginx in your example there? For instance if nginx is listening on port 5180 for third_subdomain.website.com will that be passed on by oauth2_proxy? If so thats great!

[2016-04-19 17:42] ploxiln commented on #237
By default, yes it does. (Or, the `--pass-host-header` option can be set to false if upstream needs a different host header)

[2016-04-20 15:35] sjoerdmulder commented on #179
I'm also experiencing this issue. Somehow double slashes causes redirects instead of just proxying to upstream

[2016-04-21 13:57] alexef opened #240 "New binary release"
Hi, The current release is quite old (May 2015) and the documentation in README is confusing, as it addresses features from the master branch, like /oauth2/auth.

Can you please make a new binary release?

[2016-04-21 14:28] tanuck commented on #240
I've already mentioned this is in #193 - hopefully we'll see a new release soon.

[2016-04-22 17:24] nickmiller-wf opened #242 "Support access token and cookie-based auth?"
I'm wondering if there is support for both access token and cookie-based auth? Essentially, I want most users to be authenticated through their browser, setting a cookie, etc, but allow admin users to make protected API requests via a CLI tool, using a manually generated Oauth access token.

For local testing, I invoke oauth2_proxy like so:
[code]

Attempting to make a request like so:
`curl -i -u

[2016-04-22 17:37] nickmiller-wf commented on #242
I should probably note I'm using the most recent binary release (`v2.0.1`)

[2016-04-24 15:16] r0p0s3c commented on #218
Hi,

I believe we are seeing this also, is there a workaround or fix available for this?

[2016-04-25 13:51] ElDiabloComputatore commented on #232
Hi, did you, by any chance, find the reason of that error?

[2016-04-25 14:03] iremmats commented on #232
https://github.com/iremmats/oauth2_proxy/blob/master/oauthproxy.go

It crashes when trying to get the email as stated above. We just set a random email and bypassed it. Worked for us.. :)
Im really new to Go and failed to get debugging/out from within that method. If I get time again Ill try to find the exact line causing this.

[2016-04-25 18:31] annieweng commented on #232
thanks @iremmats . I found the problem. In my case, it was GetEmailAddress method that my customer provider implement try to get email out of json string that doesn't consist of "email" line.

[2016-04-25 19:08] iremmats commented on #232
So how do we get around it in a correct way? Get another field from the json? In that case, which one? The json you speak about, is it the same as in my stacktrace above?

[2016-04-26 03:19] igroykt opened #243 "https upstream"
Hi!
Nginx proxying https to oauth2_proxy on 127.0.0.1:4180 then oauth2_proxy proxying to apache that listens https.
When i access to nginx i've got blank page and this message:

Certificate is valid and the time on server is right.
Here is how i starting oauth:

[2016-04-26 12:34] ElDiabloComputatore commented on #232
Hi all!

It was in GetEmailAddress method. I am not 100% sure why json from GraphAPI can be empty, but I think it is because we are using MS LiveID accounts in Azure. I forked this awesome repo and made a little Go magic (first coding ever in Go) that is trying to get e-mail value from alternate JSON fields and if all this attempts will fail it will get user principal name. If I read the code corr

[2016-04-27 01:54] ChristopherJacob opened #244 "Trying a suggested method for multiple upstreams.."
I am attempting the method described in another issue response of...
nginx port 80/443 -> oauth2_proxy port 4180 -> nginx port 5180 -> various upstreams

I have the nginx listening on 443, and it passes to oauth2_proxy I authenticate and then hit a 404 error back from nginx. it looks like it's trying to get
https://my.internal.server/oauth2/callback?state=/&code=4/XXXXXXXXXXXX
instead of just hitt

[2016-04-27 17:08] ploxiln commented on #244
`https://my.internal.server/oauth2/callback` should be handled by oauth2_proxy (and it's a necessary part of the oauth2 exchange), look in the oauth2_proxy logs to see what it says about it.

You can simplify your oauth2_proxy setup by not using https to connect to it. It's listening only on localhost and nginx is connecting directly to localhost so it's probably fine.

You can simplify your inter

[2016-04-28 01:13] nickmiller-wf commented on #242
Switching up my authentication process and won't need this functionality. Upon further inspection of the codebase, I couldn't find any evidence of the proxy supporting this anyway.

[2016-04-28 01:13] #242 closed

[2016-04-28 05:05] igroykt commented on #243
Seems like problem in openssl (not in proxy).

hmmm...i need letsencrypt forum.

[2016-04-28 05:05] #243 closed

[2016-05-01 18:44] zlatkoc commented on #205
Same issue with Jenkins as @grahamrhay reported.

Please merge this. Thanks!

[2016-05-02 06:22] igroykt opened #245 "HTTP 403 on apache when trying to download file"
Hi all!
I have some problem with authorization. Can't get what is wrong.
Nginx and ouath working on the same server:

Here is oauth config:

When i login with google apps then i get this in apache (apache workin on another server):

But when i login using basic authentication then:

So the question is "why i'm getting http 403 code when i login with gapps?" and "how to diagnose what is wrong?". Ap

[2016-05-02 12:15] r0p0s3c commented on #171
We're encountering this issue also, and in the course of investigating I had a question: would we not want X-Forwarded-Proto to always be present, and set to HTTPS? In almost all real-world cases I can imagine, either the ssl terminator in front of oath2_proxy (haproxy, nginx, etc.) would set it (and oauth2_proxy could just pass it along), or oauth2_proxy would set it correctly. If necessary we co

[2016-05-04 15:14] ajohnstone opened #246 "status - page"
Would be ideal to have a status page for the proxy.

[2016-05-05 14:13] estelora commented on #12
A solution that worked for me:

#### 1. Oauth2_proxy Configuration
[code]

#### 2.  Nginx Configurations

###### Sites-enabled: Google-auth Configuration
[code]
###### Sites-enabled: Upstreams Configuration
[code]

###### Nginx.conf Settings for Logging
[code]

## Assumes
* External traffic is coming into port 8080
* AWS ELB (TCP passthrough for 443)

[2016-05-08 08:37] amlwwalker commented on #237
Hi @ploxiln
Ive made reasonable progress with this, and it might help others, the references to issues #12 and #143 were very helpful. I have ended up with the following Nginx configuration to use oauth2_proxy for two applications, both of which I want to protect.
I am not sure what upstream should be set in the oauth2_proxy config as the upstream comes from nginx? I have detailed issue below.

[c

[2016-05-08 16:38] ploxiln commented on #237
oauth2_proxy does not get upstream from the nginx config. Those `upstream{}` blocks in your nginx config are not being used for anything (the place to use them is in `proxy_pass` lines).

That's a rather complicated nginx config, which I have seen other people post examples similar to, but it's not at all what I was suggesting.

[2016-05-09 15:17] r0p0s3c commented on #218
@szibis, where are you seeing that xhr error? In the logs for oauth2_proxy or somewhere else?

[2016-05-12 10:34] amlwwalker commented on #237
Oh right...
I must have misunderstood you, I had thought you were referring to the upstream in oauth2_proxy passing back to the correct upstream in nginx. Thats the last bit I haven't worked out with the above nginx. How to pass to the correct upstream in nginx AFTER oauth2_proxy has authenticated the user (at the moment everything goes to the upstream in the oauth2_proxy config, and you can only

[2016-05-12 23:17] ploxiln commented on #237
Really trying to avoid giving a specific nginx config example, but ok, here's what I was suggesting:

[code]

The `Host` header will (by default) *not* be modified by nginx or oath2_proxy as they proxy requests. So it will continue to work to distinguish between requests for the different upstream services. oauth2_proxy will (by default) use that Host header when forming the redirect-url.

No requ

[2016-05-14 19:40] jvravensberg opened #250 "Error: reference to undefined field or method ‘Cancel’"
Hello,

I'm trying to download the bits with go, but I'm getting the following error:

`user@server:~$ go get github.com/bitly/oauth2_proxy
# golang.org/x/net/context/ctxhttp
gowork/src/golang.org/x/net/context/ctxhttp/ctxhttp.go:35:5: error: reference to undefined field or method ‘Cancel’
  req.Cancel = cancel
     ^
user@server:~$`

I don't have any experience with go yet. Can you see what's goi

[2016-05-16 08:11] tanuck commented on #193
@jehiah I hate to be a nag and bump this, but it has been nearly 9 months since the last release? Do you think we could get one soon?

Thanks

[2016-05-16 11:03] merland commented on #132
Hi. Did you ever solve this? I am trying to do almost the same thing. Would be really nice if ouath2_proxy could handle this.

[2016-05-18 14:23] vic3lord opened #252 "[Google] Cannot redeem token"
I'm using oauth2_proxy behind nginx+TLS, I did not get the app to work.

Getting the following error: error redeeming code Post https://www.googleapis.com/oauth2/v3/token: x509: failed to load system roots and no roots provided

Also trying to debug the app on my desktop (without nginx and using /etc/hosts), getting authentication complete but the cookie isn't set

[2016-05-18 14:31] vic3lord commented on #252
Found the issue on my side; sorry

[2016-05-18 14:31] #252 closed

[2016-05-22 10:35] jvravensberg commented on #250
Issue was fixed by using go from the source instead of the Ubuntu packages.

[2016-05-22 10:35] #250 closed

[2016-05-22 10:45] jvravensberg opened #253 "Multiple upstreams without subdomains"
Hello,

I have oauth2_proxy working with one upstream, which is great. I was wondering if it's possible to use multiple upstreams like http://server.com/app1 and http://server.com/app2 instead of using subdomains like http://app1.server.com and http://app2.server.com? All the issues and help files are using subdomains. I'm using Azure AD as a provider.

Thank you.

[2016-05-24 14:57] NeckBeardPrince commented on #202
+1

[2016-05-25 07:50] johanhaleby opened #254 "Allow routing based on host header"
I can see in the documentation that you can route based on path but I'd like to route based on the host header. Is that possible?

[2016-05-25 08:02] johanhaleby opened #255 "Allow routing based more fine graned routing"
It's possible to route based on path today but I'ld like path "/x" to route to "http://something.com/y". This this something that could be supported?

[2016-05-25 09:00] amlwwalker commented on #237
@ploxiln
I understand much better now. How come this isn't the official way of doing this? It seems much simpler than the URL rewriting method...
The only thing Im not sure now is what the redirect_url should be. You might have left it out of your nginx example purposefully and in that case I am assuming I create another end point (say `auth.example.com`) that I point google's oauth redirect to, a

[2016-05-25 15:06] ploxiln commented on #237
On the google side you can set up multiple *allowed* redirect_urls. The authenticating application specifies, during the oauth exchange, what redirect_url is for that exchange, and google will only allow it if it's in the list of allowed redirect_urls. For this example, you'll need two allowed redirect_urls in that list, one for each application domain.

There should be no extra nginx location blo

[2016-05-25 18:52] ploxiln commented on #255
Just my 2c:

oauth2_proxy should not gain additional features which are provided by other http proxies like nginx. Just recommend: nginx port 80/443 -> oauth2_proxy port 4180 -> nginx (other port e.g. 8080), all special routing can go in the innermost nginx server block config.

[2016-05-26 13:04] amlwwalker commented on #237
OK excellent, so according to the documentation, if I don't specify `redirect_url` I should get the Host passed through. I can see in the cfg file that this should be the case, however When I log in I get:

![image](https://cloud.githubusercontent.com/assets/2920180/15575403/9f46d558-234a-11e6-9aad-809968176cd1.png)

I.e its being set to the localhost for some reason. I can see that `redirect_url=

[2016-05-26 16:49] ploxiln commented on #237
It turns out you do need `proxy_set_header Host $host;`, nginx's proxy_pass by default changes the Host header so you do need to set it back. Sorry about that

[2016-05-26 22:36] amlwwalker commented on #237
Sweet I think that worked. Im getting a 500 but the correct domain in the error.

In your nginx example your 2 of your servers listen on 5180, is this a typo or have I missed something? Should it be 4180?

[2016-05-26 23:23] ploxiln commented on #237
In nginx, multiple server blocks can use the same port, and nginx can decide which server block to use for that request based on the hostname. Try to confirm that nginx is listening on port 5180 (and is on the same server as oauth2_proxy of course).

[2016-05-27 12:27] merland opened #259 ""Cookie _oauth2_proxy not present" - when using service account"
Hi.

I'm trying to access a resource which is behind an **oauth2_proxy**, programatically using a [Google OAuth2 Service Account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount).
I can access my resource when I point my browser to it - and log in using my Google account - but I need to do this programatically (from a Node.js script).

After my script has successfully request

[2016-05-27 13:21] amlwwalker commented on #237
sweet i cracked it. I'll write up a summary of the above and post here. Its might be quite useful for others who want to protect multiple applications

[2016-05-27 15:34] therc commented on #254
That was one of my suggestions in https://github.com/bitly/oauth2_proxy/issues/192

[2016-05-28 17:35] cblomart opened #262 "Active Directory Federation Services"
Many companies using Office 365 will implement ADFS.
I am not a specialist of Oauth2 and SAML, it seems ADFS implements Oauth2 (maybe the microsoft way).
It would be usefull to be able to use oauth2_proxy with ADFS.

[2016-05-31 06:17] ChristopherJacob commented on #237
Bump on writing this up... I am in the same spot you were two comments ago. (connection refused)
I'm also getting some "400 Bad Request The plain HTTP request was sent to HTTPS port" stuff. I feel like I'm 90% there. Just need that last piece.

[2016-05-31 10:47] rcoup commented on #228
@sdier can you share the config briefly?

[2016-05-31 12:46] ChristopherJacob commented on #237
Hey guys, I have tried configuring oauth2_proxy to do this, but I get a 400 Bad Request The plain HTTP request was sent to HTTPS port

oauth2_proxy is configured using...

[code]

and the NGINX is configured....

[code]
I feel like I am almost there, but I just can't get it figured out.

Thanks!

[2016-05-31 18:06] ploxiln commented on #237
Something is sending a plain-http request to a port expecting https. Look in nginx and oauth2_proxy logs for a hint as to where exactly this is happening, then you might be able to figure out which side is confused.

BTW this is odd: `proxy_pass https://10.0.1.142/;` because how can it validate the TLS certificate used by `10.0.1.142`?

[2016-06-09 22:08] rmtobin opened #264 "No errors logged when Set-cookie header is not sent in response due to an invalid cookie"
oauth2_proxy currently will silently fail to complete authentication if an invalid cookie name is set, perpetually redirecting the user back to the login screen with no errors logged.

This seems to be due to the behavior of Go's http.SetCookie method which according to the docs: ` The provided cookie must have a valid Name. Invalid cookies may be silently dropped.`. Since oauth2_proxy's authentic

[2016-06-11 16:23] teh opened #265 "Add authorization header to follow the spec's intention more closely (and remove client_id and client_secret from body)"
Context: https://github.com/coreos/dex/issues/460

To quote the important part from the spec:

[2016-06-14 07:48] ngochai94 opened #266 "oauth2_proxy not work with EventSource"
Hi, I'm having problem using EventSource.
Everything works fine if the proxy is not present: my client receive the response from server.
However, if the proxy is present, the client doesn't receive anything and keep requesting to the server every 3 seconds. I guess something wrong withe the proxy?

[2016-06-14 08:48] ngochai94 commented on #266
It looks like oauth2_proxy cache every responses from my server until it finishes, then those responses will be forwarded to the client. But that's not what a want, a delay for the client, is there any way to tell oauth2_proxy forward every response immediately?

[2016-06-14 16:04] xmunoz opened #267 "provider ignored?"
I'm trying to set up oauth2_proxy with gitlab (self-hosted) as my provider. Unfortunately, it doesn't appear that my provider selection is honored. Here is my configuration file:

[code]

Unfortunately, the login screen still asks me to "Login with a Google Account". The login url redirection to gitlab works, but the flow fails on the redeem step. Here is the log output:

[code]
How can I tell oau

[2016-06-15 08:02] xmunoz commented on #267
I was able to get this library working by [changing the default provider](https://github.com/xmunoz/oauth2_proxy/commit/3f420880bb627d53206a57805da12189503d170b). Maybe the binary that I downloaded is just old...

[2016-06-15 08:02] #267 closed

[2016-06-15 12:46] nneubauer commented on #232
The branch of @ElDiabloComputatore works fine for my setup. I have the same problem with emails although I tried Microsoft Accounts as well as Work Accounts and filled all fields that have something to do with email. I'd suggest to open a pull request with your changes. 👍

[2016-06-16 04:24] mirror222 opened #268 "does oauth2_proxy support tcp proxy ?"
Thank you.

[2016-06-16 17:54] hexedpackets commented on #229
This would also be very useful for GitHub, where the user's primary email can often be meaningless to the upstream service (especially if they have a dozen emails on their account like I do), but the username is a useful identifier.

[2016-06-17 03:54] igroykt commented on #245
Builded last master branch and make configuration file. I think i understand the problem. Problem is that backend does not get to download file if i requesting it through http (only by https).
But when i configure upstream=https://myserv.myadomain..com i get error "bad request".
Ouath can't use https host in upstream? Or there is another way?

[2016-06-18 14:59] 0815fox commented on #193
Could someone give me a hint on how to build the current master? I need the gitlab provider, which seems to exist since some time, but there is no new release...

[2016-06-18 15:03] 0815fox commented on #267
I just bumped into the same issue... The last release is a year old and does not contain gitlab provider. Do you have a hint for me on how to build project?

[2016-06-18 15:27] tanuck commented on #193
@0815fox check out the `dist.sh` file in the root of the repo. I'm guessing that is what the maintainers use for releasing binaries.

[2016-06-18 18:37] 0815fox commented on #193
Yeah, also found this out, also found out that the ubuntu packages for go are as old as those for node.js. And gpm from the packages is something completely different. Finally dist.sh quits with following message:

[code]

I porbably did not understand the GOPATH and, well, the GOPATH-documentation does not really explain it, if you ask me.

[2016-06-19 03:55] #166 closed

[2016-06-19 03:55] jehiah commented on #268
No, it does not as you can't do an oauth flow for a tcp connection.

[2016-06-19 03:55] #268 closed

[2016-06-19 03:57] jehiah commented on #246
@ajohnstone what kind of status do you have in mind?

[2016-06-20 12:13] jehiah opened #269 "github enterprise provider"
This fixes github enterprise support originally added in #197 and closes #144 and #248

[2016-06-20 12:17] #144 closed

[2016-06-20 14:31] xmunoz commented on #267
Yep. You should just be able to use `go get github.com/bitly/oauth2_proxy`. This will put the source in your $GOPATH. Then simply `go install github.com/bitly/oauth2_proxy`.

[2016-06-20 14:44] 0815fox commented on #267
Thank you!

[2016-06-23 12:32] jehiah opened #270 "Facebook auth Provider"
This adds the abilibity to get email address via FB auth.

cc: @pregiotek

[2016-06-23 13:43] #240 closed

[2016-06-23 14:25] alexef commented on #240
Hooray 2.1!

[2016-07-03 20:01] iremmats commented on #232
I just tested this now. It works. Thanks so much!

[2016-07-04 01:51] jehiah commented on #232
resolved by #274

[2016-07-04 01:51] #232 closed

[2016-07-15 19:53] tekmaven commented on #179
The good news is, Grafana has fixed this problem for the next release.

https://github.com/grafana/grafana/pull/5536

[2016-07-19 16:41] antgel commented on #218
Hi all. We also suffer from this in a heavily-Javascript based webapp. It's been really quiet on this bug for months - any progress / workarounds / whatever that can help move forward? We can code a bit too, but we don't know anything about Go. :)

[2016-07-19 17:51] jehiah commented on #218
@antgel If you can confirm this is still a problem against the most recent release (v2.1) or HEAD and provide steps to reproduce that would be helpful.

[2016-07-19 19:51] #264 closed

[2016-07-20 16:49] antgel commented on #218
So, we are using the latest version with the auth_request, the users authenticate using a web page, but then they are redirected to a single page app and only use AJAX. And we see in the oauth2_proxy logs that it doesn't update their cookie, only removes it.

Reproduction is hard as our app is internal. Would you be up for doing a screenshare, or I could send screenshots or logs, or anything you t

[2016-07-20 18:54] r0p0s3c commented on #218
I'm no longer seeing this bug (since after I originally reported it) but suspect that something else in our infrastructure - specifically outbound proxy filtering - was causing the issue

[2016-07-20 19:06] antgel commented on #218
We don't have anything fancy going on like that.

[2016-07-21 09:11] odedlaz opened #281 "A full-blown working example"
Hey,
[I've written a full-blown example](https://github.com/devsenexx/nginx-auth) on how to leverage nginx authentication methods,
and I believe it would be useful to many users if they had a working out-of-the-box example.

I can send a PR or add it to the README. thoughts?

[2016-07-21 19:34] NeckBeardPrince opened #282 "Stripping custom headers from haproxy?"
I'm using haproxy to create a custom header with the ip address of the incoming connection.
My setup is like so

`fe-http` => `be-oauth` => `fe-post_oauth` the ip address shows as `127.0.0.1` which I understand because the connection came from the oauth client.

Another example is
`fe-http` => `be-oauth` => `be-app` the custom header is completely removed.

So it seems that either oauth is complet

[2016-07-21 20:54] NeckBeardPrince opened #283 "Not respecting pass_basic_auth = false"
Even when turning off pass_basic_auth oauth seems to still be passing X-Forwarded-User and X-Forwarded-Email information to upstream

[2016-07-21 20:58] ploxiln commented on #283
`pass_basic_auth` only refers to the `Authentication: Basic <base64 of user:pass>` header, for upstream applications that can already use the username from it. The X-Forwarded- headers are always sent as a convenience.

As-Designed :)

[2016-07-25 13:08] Totolin opened #284 "Removing login prompt"
Is there any possibility to remove the webpage that prompts you to log in using the provider set in the configuration? It really has no purpose if you have only one provider, and it should redirect straight to the oauth provider's page.

Is there an option to do this, or have I missed it in the documentation?

[2016-07-25 13:08] antgel commented on #218
@jehiah Any interest in a screenshare or similar as above? What sort of data would you need from us to reproduce the issue? Might logs help?

[2016-07-25 18:44] ploxiln commented on #284
`--skip-provider-button`
https://github.com/bitly/oauth2_proxy/blob/2fa0a35c7f89706ddf9dff3e6956a1af8b937066/main.go#L39

[2016-07-25 21:54] draganm opened #285 "Support for Websockets"
Currently I'm trying to use oauth2_proxy to 'protect' a websockets application. Unfortunately the server behind Proxy is complaining about missing Upgrade Header:

[code]

[2016-07-25 22:32] ploxiln commented on #285
you could try using #201

[2016-07-28 20:23] danielhklein opened #287 "Scripted authentication procedure"
Edit: closing issue, realized this has low relevance to oauth2_proxy.

[2016-07-28 20:42] #287 closed

[2016-07-31 01:50] MarkHerhold opened #289 "google-group semantic help"
What's the format for specifying the google groups with accounts that are allowed to authenticate?

I'm trying something like this but it looks like people outside the group still have access.
[code]

[2016-07-31 02:22] MarkHerhold commented on #289
nevermind! This seems to be working fine now. :)

[2016-07-31 02:22] #289 closed

[2016-08-02 16:43] reist commented on #284
In case of using Nginx's auth_request, should the /oauth2/sign_in be switched to /oauth2/start to get the same effect? Based on a couple of checks, it seems to be working as long as the _oauth2_proxy cookie didn't timeout.

[2016-08-02 23:31] nickmiller-wf opened #291 "oauth2 access token is printed to log by default"
After setting a Cookie refresh value and setting `--pass-access-token` to true, we've noticed some logs come through that contain the access token, with no apparent way to turn it off.

See: https://github.com/bitly/oauth2_proxy/blob/master/providers/internal_util.go#L31

The `endpoint` var gets set to the fully qualified URL, which contains the `access_token` query parameter. For us, this doesn't

[2016-08-03 00:21] jehiah commented on #291
@nickmiller-wf indeed. logging is hard.

I'd be happy to accept a PR that redact's tokens (i.e. replacing half of them with `....` in the log line) in that and a few other logging lines for requests against OAuth providers.

There isn't currently a pattern of changing the amount of logging for upstream requests or general internal logging, so that would probably need some larger refactoring.

[2016-08-03 00:21] #285 closed

[2016-08-03 03:19] #291 closed

[2016-08-04 20:31] nickmiller-wf opened #293 "GitHub provider's configuration breaks token validation"
While testing out a build of latest master, we noticed some interesting logs come through around token validation using the GitHub provider: (notice the lack of an endpoint path)

[code]

Reverting back to the previous version we were on (2.0.1), we got:

[code]

which contains `/user/emails` as we would expect.

I determined the lack of an endpoint path in the first log is due to [this change](ht

[2016-08-08 10:48] #191 closed

[2016-08-09 17:32] HinoReo opened #294 "Nevermind"
.

[2016-08-10 11:33] #294 closed

[2016-08-10 16:34] ThatsNinja commented on #252
@vic3lord can you say what the issue was? I'm getting something similar with the Github provider:
[code]

[2016-08-11 17:42] vic3lord commented on #252
@ThatsNinja wow man I'm really sorry I didn't document it, I don't remember what it was, but I can help you if you can elaborate more... maybe configuration etc.

[2016-08-11 17:47] ThatsNinja commented on #252
@vic3lord So, it turned out that I was doing something foolish: I'd created a container image to vendor the compiled oauth2_proxy binary, and to contain confd and associated templates for dynamic configuration. I was spinning that container up, executing confd against the running environment, and mounting its volumes into a bare-bones alpine container to actually run the binary, and the alpine ima

[2016-08-11 17:50] vic3lord commented on #252
`apk add ca-certificates` would have done the same trick for you but the image would be much smaller... (I used some other pipeline to compile the binary and then just `COPY` it to the container

I'm happy you solved it

[2016-08-11 17:54] ThatsNinja commented on #252
Yes, good point. In my case, since I'm already grabbing down my configuration container image, and it's got everything it needs, I was able to actually cut some weight by just kicking alpine out of the car.

Thanks for getting back to me!

[2016-08-11 19:19] vic3lord commented on #252
No problem, hope I helped

[2016-08-12 16:49] jadametz commented on #172
Not sure this is relevant to the enhancements in how the API is called, but I'm having general problems getting the group specific auth to work in the first place. I've followed the instructions in `README.md` as best as I could (although they don't seem to _exactly_ align with Google's UI) but am ultimately getting a 403 for a user that is in my provided group.

The auth appears to work when I on

[2016-08-12 17:21] Vestaxis commented on #172
We had this issue as well. For us the problem was that we had members in a group that didn't belong to our organisation. The current code assumes that all group members are users of the Google account that the API is polling. If you want to add users to a group with external email addresses, you have to disable the user checking here: https://github.com/bitly/oauth2_proxy/blob/master/providers/goo

[2016-08-13 15:22] eldadh commented on #169
I am also trying to use Use with the Nginx auth_request directive function
since the oauth2_proxy doesn't have streaming capabilities yet ( i need those for guacamole web app).

i keep getting internal errors when trying to use the given setup ( in the readme) and after reading the post/issues in the git.

my guess is wrong oauth config but i didnt find what.
like i said i would like the nginx to

[2016-08-17 17:57] cmadamsgit opened #296 "Google group options only work from command line"
I use a config file for setting oauth2_proxy (v2.1) up, but the Google group related options did not seem to be recognized.  I put them on the command line instead, and they work there.  Is that known, intentional, a bug, I did something wrong...?

[2016-08-17 18:04] cmadamsgit commented on #296
Duh, never mind - forgot that the CLI options use "-" and the config file options use "_"

[2016-08-17 18:04] #296 closed

[2016-08-18 18:41] mrwacky42 commented on #174
Why not just use a different cookie name on different proxy instances?
Or are they different instances in say, the same ELB?

[2016-08-18 21:31] jburnham commented on #174
I do different cookie names on different instances now, but with that approach, people have to login to each one. I'd prefer not having people to have to do that. With the group information fetched once, each subsequent request to another instance just checks the cookie for a group which is allowed.

[2016-08-18 21:33] mrwacky42 commented on #174
Point taken. I was assuming disjoint groups.

[2016-08-22 20:19] dholth opened #297 "Does this support OpenID Connect?"
Is this a useful part of an openid connect implementation? Thanks.

[2016-08-22 23:38] dholth commented on #297
Looks like there is already a pull request. Neat. https://github.com/bitly/oauth2_proxy/pull/165

[2016-08-24 13:37] adilr00t commented on #237
hey @amlwwalker did you find out the final working version, can you share your config, thanks

[2016-08-25 22:07] amlwwalker opened #300 "Retrieving logged in user from resulting application"
Hi

When I login with this to my server, is there anyway of passing the username/email address in some way to the web app the user ends up in, or is it necessary for the user to log in again to the end app to get a login?

[2016-08-26 10:46] schickling commented on #282
Any news one this?

[2016-08-29 12:59] igroykt commented on #245
After a lot of investigation i think the problem in sessions.
Link formed looks like itms-services://?action=download-manifest&url=xxx.plist so when i request .plist file it seems like good but when the next request by .ipa url and there cookie is lost.
Proxy blocks connection. Seems like .ipa is sessionless (no cookie provided).
I think there is no chances that i can fix it somehow.

[2016-08-29 13:01] #245 closed

[2016-08-30 06:37] sreeharikmarar opened #303 "sign_in template form input redirect-url value is not updating as expected"
The use case for this change is, suppose oauth2_proxy is running on https://companydomain/dashboard , after successful authentication oauth2_proxy is not redirecting back to /dashboardwhere the request has started.

The reason for this behavior is `redirect-url` config option is not updating sign_in template `"{{.Redirect}}"` value as expected because of this [check](https://github.com/bitly/oauth

[2016-08-30 13:19] #303 closed

[2016-08-30 19:36] pmbauer commented on #179
The source of this is deep in golang's ServeMux

https://github.com/golang/go/blame/6a982c390138fb2af49f85c4aeea2bce3222eb20/src/net/http/server.go#L1985
https://github.com/golang/go/blame/6a982c390138fb2af49f85c4aeea2bce3222eb20/src/net/http/server.go#L1941
https://github.com/golang/go/blob/4054769a31f66039f5fd74ca3164e9233f724da8/src/path/path.go#L69

[2016-09-07 16:00] #283 closed

[2016-09-08 05:47] ploxiln commented on #283
It looks like I was totally wrong about that ... I just assumed it did what you complained ... but it looks like the code does only set those headers if pass-basic-auth is enabled, and has for a long time.
https://github.com/bitly/oauth2_proxy/blob/master/oauthproxy.go#L600

[2016-09-09 00:09] igroykt commented on #245
It's work :)
Problem was not in oauth but in itms-services protocol. Whe downloading ipa or plist they are came without cookies. I decided to create cname for domain and let users download this files via x-accel redirect.

[2016-09-09 00:15] igroykt opened #304 "iOS 9.x = cookie not present"
Hi all!
Strange thing. When i login from iOS 9.x then in logs i see "cookie not present" and redirecting to login page because of 403 error, but iOS 8.x work fine.
Safari settings->accept cookies from visited.
oauth config:
http_address = "127.0.0.1:4181"
#https_address = "127.0.0.1:443"
#tls_cert_file = ""
#tls_key_file = ""
redirect_url = "https://my.domain.com/oauth2/callback"
upstreams = [

[2016-09-09 00:18] igroykt commented on #304
Updated from 9.3.3 to 9.3.5. No success.

[2016-09-09 01:11] jehiah commented on #304
@igroykt you have `cookie_secure=true` which is good, but can you make sure you are accessing "https://my.domain.com/` in both tests?

If that isn't the issue, logs showing successful auth, and then the request which is missing cookie (w/in the configured cookie_expire) would be helpful.

[2016-09-09 01:12] #297 closed

[2016-09-09 01:27] igroykt commented on #304
@jehiah
======ios 8=========
188.244.138.105 - - [09/Sep/2016:08:20:54 +0900] "GET /PROJECT/SomeFile.ipa HTTP/1.1" 302 154 "-" "itunesstored/1.0 iOS/8.4 model/iPad3,3 build/12H143 (5; dt:78)" "-"
188.244.138.105 - - [09/Sep/2016:08:26:37 +0900] "GET /index.php?path=/PROJECT/SomeFile.ipa HTTP/1.1" 200 128999754 "-" "itunesstored/1.0 iOS/8.4 model/iPad3,3 build/12H143 (5; dt:78)" "-"
=======ios 9===

[2016-09-09 01:37] igroykt commented on #304
Oauth log:
=========ios8==============
2016/09/09 10:32:02 oauthproxy.go:526: 127.0.0.1:33596 ("myip") Cookie "my.domain.com" not present
myip - - [09/Sep/2016:10:32:02 +0900] my.domain.com GET - "/" HTTP/1.0 "Mozilla/5.0 (iPad; CPU OS 8_4 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12H143 Safari/600.1.4" 403 2244 0.000
myip - - [09/Sep/2016:10:32:05 +0900] my.domain.

[2016-09-09 02:32] igroykt commented on #304
New version of oauth didn't helped.

[2016-09-12 02:30] igroykt commented on #304
@jehiah here is some info from charles session:

:scheme: https
:path: /oauth2/start?rd=%2F
:authority: my.domain.com
accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
user-agent: Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1
accept-language: ru
referer: https://my.domain.com/
accept-enco

[2016-09-12 19:21] igroykt commented on #304
Looks like cookies lost when redirecting from javascript with allow button to redirect url.
-skip-provider-button=false doesn't work?
oauth2_proxy v2.1

[2016-09-12 20:44] igroykt commented on #304
pass_basic_auth = true makes json error instead of button render.
oauth2_proxy v2.2.0-alpha (built with go1.5.1)

[2016-09-12 21:27] igroykt commented on #304
@jehiah Wether in the future features like force-login and set-cookie? So if we have no cookie then we can pass to upstream that will set some cookie then upstream request to localhost to make some checks before proxying to real backend.

[2016-09-12 23:18] igroykt commented on #300
@amlwwalker there is option -pass-basic-auth=true: pass HTTP Basic Auth, X-Forwarded-User and X-Forwarded-Email information to upstream.
If your app work on php then check phpinfo() for global variable _SERVER['X-Forwarded-User/Email'].
By the way this is just a guess.

[2016-09-14 13:34] ls-yann-david commented on #259
I'm also hitting this issue. I'd like to know how to fix it.

[2016-09-15 13:56] emirot commented on #42
Is there any chance to have websockets supported anytime soon ?

[2016-09-19 20:27] itsmrwave commented on #259
Sounds like [this is your issue](https://github.com/bitly/oauth2_proxy/issues/149#issuecomment-151288973).

[2016-09-27 16:30] willejs commented on #266
@ngochai94 I am having the same issue with SSE. @jehiah Any idea how this could be fixed?

[2016-09-30 18:34] captncraig opened #306 "logout route"
It would be somewhat useful to have a route I can go to to log out of the application. Sure I can delete the cookie in my proxied app, but then I have to configure the cooke name and so forth. Would be nice if I could just make a link to `/oauth2/logout` and let the proxy do the cookie clearing, then redirect me to the home page.

[2016-09-30 19:03] jehiah commented on #306
@captncraig If you link to `/oauth2/sign_in` you will be signed out.  If you'd find it useful to have an additional path that signs you out and redirects to `/` I'd be happy to accept a PR that does that.

[2016-10-02 16:29] 917huB commented on #42
likewise... big +1 here

[2016-10-06 18:31] chris-martin commented on #42
As a workaround, you can use [nginx with auth_request](https://github.com/bitly/oauth2_proxy#configuring-for-use-with-the-nginx-auth_request-directive), right?

[2016-10-06 18:46] 917huB commented on #42
looks like someone figured out how to integrate the web sockets fixes into a fork of this.
https://github.com/funkymrrogers/oauth2_proxy

[2016-10-07 05:26] siningma opened #307 "Does oauth2 proxy support REST API call authentication?"
We want to use oauth2 proxy with Google provider to authenticate all requests to our internal servers. Currently, oauth2 proxy can handle requests from web browsers.
But our Jenkins servers also need to make some GET API calls to our internal servers. These calls are also going through oauth2 proxy. But they cannot be authenticated by the proxy. The proxy rejects all requests and returns the initi

[2016-10-07 07:54] ploxiln commented on #307
use the `--htpasswd-file` option, have your service use a special username/password via basic auth

[2016-10-07 13:09] #307 closed

[2016-10-13 08:21] ashernevins opened #308 "HTTP to HTTP redirect option"
This is a feature request.

Since oauth2_proxy already handles SSL termination etc, it would be great to have a configuration option that would 301 redirect traffic on the http_address to the https_address. This would enable providing a ssl-only service, with the appropriate redirect on port 80 without having to use something like nginx in front of this service.

[2016-10-19 08:24] igroykt commented on #304
Seems like solved by updating to ios 9.4.x.

[2016-10-19 08:24] #304 closed

[2016-10-21 08:14] JacobAae opened #311 "Restrict to Group membership for Gitlab provider"
Like for the Github provider, it would be useful if the Gitlab provider could be configured to allow access only for members of a specific group.

[2016-10-26 09:48] fortytw2 opened #313 "autocert / letsencrypt integration"
Would be extremely useful for oauth2_proxy to automatically grab SSL certificates from LetsEncrypt if asked to. I'm willing to implement this, if the maintainers think it's a good / mergable idea :)

[2016-10-26 13:06] jehiah commented on #313
@fortytw2 yes! I'd be happy to see this land using `https://github.com/rsc/letsencrypt`

[2016-10-26 13:07] jehiah commented on #308
@ashernevins This would be a great addition. Are you interested in contributing a patch?

[2016-10-26 15:49] fortytw2 commented on #313
@jehiah fantastic! I'll try to send a PR tomorrow :)

[2016-11-01 10:29] adishap opened #315 "`502 Bad Gateway` error when trying to run nginx with oauth2_proxy"
I am getting error in nginx when I try to run `oauth2_proxy` with nginx.
[code]

nginx.conf
[code]

oauth2_proxy.cfg
[code]

Thanks for the help!

[2016-11-01 17:41] jeremybmerrill opened #316 "502 "operation was canceled" when user makes multiple requests thru oauth2_proxy"
I'm using oauth2_proxy (latest version of `master`) to proxy to a fairly low-traffic internal server running nginx and serving some static files, along with a database. A single page-load requests about 30 files (JS assets, CSS, etc.).

Sporadically, at least one of these ~31 request will fail; often multiple fail; occasionally, they all succeed. Refreshing the page several times eventually gets y

[2016-11-01 17:52] jehiah commented on #316
@jeremybmerrill interesting. the `operation was canceled` part is odd, but it does implicate DNS resolution from inside your container in general.

Some ideas that might help troubleshoot: run with `export GODEBUG=netdns=cgo`, write a small Go script to repeatedly call `net.LookupHost(...)` from inside your container w/ some concurrency (matching browser concurrency). If you are having actual DNS

[2016-11-01 18:41] jeremybmerrill commented on #316
Ah, that's a very good idea, @jehiah. I'll bug our Kubernetes people and see if occasionally-failing DNS resolution is a plausible thing. And I'll try what you suggest too. Thanks!

[2016-11-01 19:17] jeremybmerrill commented on #316
Turns out this is a known bug with our Kubernetes (that I just hadn't encountered before), not a oauth2_proxy problem. Sorry for the false alarm and thanks for the terrific tool.

[2016-11-01 19:17] #316 closed

[2016-11-01 19:22] jehiah commented on #316
no worries. thanks for the follow up!

[2016-11-02 05:06] #315 closed

[2016-11-02 11:18] fjoesne commented on #259
I solved this by setting `cookie_domain = "domain.example.com"`  in the configuration file. I did not have to set this when using cli options.

[2016-11-02 14:53] fjoesne opened #317 "-redirect-url="" not making any difference"
command is: `--redirect-url=https://test.example.com/oauth2/callback -login-url=https://test.example.com/oauth/authorize -redeem-url=https://test.example.com/oauth/token -validate-url=https://test.example.com/api/v3/user --upstream=http://internal-host:80 --email-domain=example.com --provider=gitlab --http-address=0.0.0.0:4180`

but it seems the redirect url is overwritten by --upstream because gi

[2016-11-03 04:30] mbrevoort commented on #225
I'm stuck on this same issue, getting "Cookie Signature not valid" with github provider after ` authentication complete Session{ token:true}`.

Here's a snippet of my Kubernetes config with the start options:

[code]

@gkuchta  Did you get past this?

[2016-11-05 04:53] hollingsworthd commented on #225
Experienced this too. Workaround for me was to configure the proxy with a custom cookie name. The only reason I suspect this works is because I had multiple oauth proxies on different domains sharing the same cookie name, and I customized them all to use unique names respectively. Just a guess.

[2016-11-05 06:35] fjoesne commented on #317
seems that this was due to a proxy misdirection.

[2016-11-05 06:35] #317 closed

[2016-11-05 15:29] tyronemills commented on #202
+1

[2016-11-05 16:12] r3m0t commented on #253
Why not run two instances of `oauth2_proxy` listening on different ports, with different settings?

[2016-11-14 20:29] NeckBeardPrince commented on #282
Love to get an update on this. We are still having issues with oAuth stripping headers.

[2016-11-17 11:13] allistera opened #320 "HTTP Authorization Bearer Header"
Hi!

Is it possible to send requests to the oauth2_proxy containing the already retrieved oAuth2 token?

oauth2_proxy would essentially proxy this token forward if it is set rather than looking at it from session store.

This would be useful when programmably accessing the service.

Thanks!

[2016-11-18 11:32] permyakovsv opened #321 "Cross-Site Request Forgery (CSRF)"
missing state parameter in google oauth login

[2016-11-22 22:03] palewire opened #325 "Slack OAuth plugin"
Hey, it would be really cool of Slack was added to the list of supported authentication systems. Is that something you've considered, or seen in a fork?

[2016-11-22 22:14] jehiah commented on #320
@allistera this would be a useful approach to using oauth2_proxy for both UI and API requests. Would you be interested in contributing support for that?

[2016-11-23 12:16] jacoblw commented on #325
Hey @palewire

Have you seen this? https://github.com/tappleby/slack_auth_proxy

[2016-11-23 19:06] palewire commented on #325
Wow. No. Thanks for passing it along. I'll check it out.

[2016-11-27 13:24] craftbyte opened #326 "Add support for Google OAuth hd parameter"
When limiting login to a GApps domain, allow the user to set the `hd` parameter. This will allow Google to only display accounts on the domain.

Docs: https://developers.google.com/identity/protocols/OpenIDConnect#hd-param

[2016-11-27 13:26] craftbyte commented on #326
Example: http://cdn.craftbyte.net/Screenshot_2016-11-27-P2uIChG3.png

[2016-11-27 22:41] ntdaley opened #327 "skip-provider-button seems to force final redirection url to be /"
When I use -skip-provider-button it always gets redirected after login to /
When I don't it gets redirected after login to the url beforehand.

e.g. I point my browser at https://my-site/some/sub/path
when I have -skip-provider-button, it will end up pointing at https://my-site/
when I don't it will end up pointing at https://my-site/some/sub/path

I have the oauth2_proxy behind an apache server.

[2016-12-04 03:00] michaeldauria opened #330 "Trying to host a static landing page with no luck"
Not sure what I am doing wrong here, but my idea is to have the user land on a page with simple HTML that has links to other reverse proxies. This means that I am trying to serve a static page on `/` like so:

[code]

I see an appropriate mapping log:
[code]

Here is the 404 line:
[code]

No matter what I try for the fragment section I always see a 404. I have confirmed that the source dir for the

[2016-12-05 15:53] michaeldauria commented on #330
I had fat fingered my configuration :/

It works as documented, assuming that you actually put files in the right places

[2016-12-05 15:53] #330 closed

[2016-12-05 16:12] jehiah commented on #330
@michaeldauria thanks for following up here =)

[2016-12-15 16:51] SEJeff opened #332 "Consider adding dex as a provider"
CoreOS have written the most excellent [dex](https://github.com/coreos/dex) web service for allowing oauth2 tokens to come from things like a corporate Active Directory or IPA LDAP server. Consider supporting dex as a provider.

[2016-12-16 15:52] NeckBeardPrince commented on #282
Bump

[2016-12-17 12:03] harobed opened #333 "Twitter OAuth plugin"
Hey, it would be really cool of Twitter was added to the list of supported authentication systems.

[2016-12-18 10:34] janwillies commented on #332
there hasn't been an update on #165 for a year, and dex v2 came out recently. Would be great to have it as a provider for oauth2_proxy

[2017-01-04 15:28] ac111 opened #334 "Ability to curl with cached access token"
Just a general question (quite new to using oauth2) -- I have an auth2 proxy server (google auth) running locally and proxying requests to an upstream Nexus server.  I can successfully authenticate using a standard browser, and can re-use the session to download artifacts from a Nexus repo.  Is there a way to perform a similar artifact download using curl or wget by re-using a pre-authenticated se

[2017-01-04 15:33] groob commented on #334
@ac111 you could go to your browsers network tab and ["copy as curl"](https://daniel.haxx.se/blog/2015/11/23/copy-as-curl/)

The link will contain the cookie which curl can use to auth.

[2017-01-04 17:49] ac111 commented on #334
Thanks for the suggestion!  This works nicely -- wondering if you have any experience in generating the token programmatically in a similar way to generate the request using a valid token?

[2017-01-04 18:01] groob commented on #334
I'm not sure how to generate the token, but I can recommend an alternative that works for me:

Use the nginx auth_request option(see bottom of readme).
Use a different auth scheme for your scripts (I use a JWT token).

With the above setup, the reverse proxy can authenticate with either a valid JWT token or through the normal oauth request strategy in the browser.

[2017-01-04 19:59] ac111 commented on #334
Thanks, I'll give this a try!  Much appreciated

[2017-01-05 09:06] vegardvaage commented on #334
@ac111 I'm trying to achieve something similar as well - do you think it would be possible to leverage [Google service accounts](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) for this? Very interested to hear if you can make this work. @groob, how do you generate your JWT tokens?

[2017-01-09 19:25] thenewwazoo commented on #114
@jehiah are there any known issues that should be resolved before this issue is considered closed?

[2017-01-09 19:40] thenewwazoo opened #335 "Need Azure Active Directory group claims support"
Azure AD has the ability to provide [group membership claims](https://blogs.technet.microsoft.com/enterprisemobility/2014/12/18/azure-active-directory-now-with-group-claims-and-application-roles/) in the JWT (or, if there are too many groups, a `group.link` value that the application can use to obtain a paged list of groups).

I'd like to be able to pass this data along to the proxied application

[2017-01-09 20:07] thenewwazoo commented on #335
It also looks like AAD supports [roles claims](http://www.dushyantgill.com/blog/2014/12/10/roles-based-access-control-in-cloud-applications-using-azure-ad/) as well. If it's straightforward, I may add explicit support for that as well.

[2017-01-11 22:51] gdemarcsek opened #336 "csrf validation"
The OAuth2 state parameter is used as redirect target URL (it could be like a "next" maybe instead?). The state parameter should be secure random thingy we can check in the callback handler:

https://tools.ietf.org/html/rfc6749#section-4.1.1

         cross-site request forgery

Also: http://www.twobotechnologies.com/blog/2014/02/importance-of-state-in-oauth2.html

Pls fix this. Thx.

[2017-01-12 17:14] tdorsey opened #337 "Relative path for authenticated emails in docker container"
## Version Info:
oauth2_proxy: 2.2.0-alpha
docker: 1.12.3
## Issue
Outside of docker, I can use an authenticated email list correctly.

 _validator.go:23: using authenticated emails file allowed_emails
 watcher.go:67: watching allowed_emails for updates_

When oauth2 is run from inside the docker container, I receive the following:

 _validator.go:23: using authenticated emails file allowed_emails

[2017-01-18 16:02] robin900 commented on #315
@adishap We have noticed the same behavior for our new deployment of nginx and oauth2_proxy. We notice that the *first* authentication for a given google apps user results in the user landing at http://ourhost/# instead of the expected redirect to http://ourhost/ourapp# and the response is a 502 from nginx. Then on subsequent visits, the user is properly redirected to http://ourhost/ourapp (no # f

[2017-01-19 06:33] adishap commented on #315
@robin900 I did not noticed the same behavior. In my case the issue was that I was nginx using docker and trying to run oauth2_proxy on server therefore it was not finding ouath2_proxy's port. I resolved this problem by running both nginx and ouath2_proxy on server. If it helps, I can share my nginx configuration file.

[2017-01-19 15:58] kholloway commented on #179
This affects anyone using Oauth2_proxy in front of Mesos/Marathon also.. :(

https://github.com/mesosphere/marathon/issues/3966

[2017-01-24 16:27] raju-divakaran opened #340 "To use curl for oauth proxy protected URL"
Hello,

Can anyone please tell me what would be the endpoint to be accessed to get access token when using google as provider.

Thanks

[2017-01-26 20:01] troxor commented on #179
RabbitMQ Management plugin is also affected :( :(

[2017-01-27 17:21] tdorsey commented on #340
Google's OAuth documentation has sample code for this

 https://developers.google.com/identity/protocols/OAuth2

[2017-01-31 13:42] FrederikNS commented on #205
@jehiah would it be possible to get this merged?

[2017-02-01 10:01] seffenberg-naspers commented on #336
isn't this a duplicate of #321 ?

[2017-02-01 22:36] gdemarcsek commented on #336
Nope.
This is where the state parameter should be validated (instead it is used as a redirect target): https://github.com/bitly/oauth2_proxy/blob/a9c55bd6d1caeaa7ba20236b2e85129c8219b865/oauthproxy.go#L483
This is where it is generated: https://github.com/bitly/oauth2_proxy/blob/a9c55bd6d1caeaa7ba20236b2e85129c8219b865/providers/provider_default.go#L92

[2017-02-02 10:46] pms1969 opened #341 "Not redirecting after login."
Hi.

It might just be my poor understanding of how things operate between nginx and oauth2_proxy, but for the life of me, I can't get my setup to redirect to the initial page after login.  I'm using nginx as an ssl terminating proxy for a .net service, and oauth2_proxy is governing access to our swagger pages.

It's running on a windowsservercore docker container.

My nginx.conf looks like so:
[co

[2017-02-02 17:54] caleblloyd commented on #316
@jeremybmerrill can you post a link to the upstream kubernetes issue?  I have hit this on Kubernetes also, but not using `ouath2_proxy`

[2017-02-02 18:32] jeremybmerrill commented on #316
@caleblloyd: I'm afraid I don't remember. I'm a mere user of the kubernetes cluster and one of our admins fixed it, I think.

[2017-02-02 20:31] Alives commented on #284
This option isn't working for me.  I only have Google configured as a provider, and I still see the "Sign in with a Google Account" button page if I don't have the oauth cookie set properly.

[2017-02-09 07:27] igroykt opened #342 "Email file"
Hi! Any chance to use multiple email files?

[2017-02-14 13:12] mikecb opened #343 "Consider supporting Verified Access API"
This is a Google API to allow Chromebooks to attest to their status and GSuite to return a verification that policies are in compliance. It would allow deployment of oath2_proxy that not only was restricted to users/subgroup of a particular GSuite domain, but now also that they are using a healthy approved device that is up to date with domain policies. In particular, the successful challenge veri

[2017-02-16 13:06] sergiosarmentosilva commented on #316
@jeremybmerrill Could you provide some more information about what he did to fix it? I'm having the same issue.

[2017-02-16 13:20] phillip-white-sociomantic opened #344 "Enhancement request: Allow Azure department check"
Since Azure Basic (included with O365) does not have group assignment. It would be nice to authenticate users based on their department. I can see the the proxy request `"department":"department"` in the log files. So that's a starting point.

[2017-02-17 17:54] jeremybmerrill commented on #316
@sergiosarmentosilva I asked and he didn't remember either. Around that time, we were dealing with some issue where connections were being reused in the kubernetes-dns-proxy, so that when a service moved from one pod to another, the proxy might send traffic for that service to the old pod, resulting in traffic for app A showing up at app B. Another issue we apparently had was sporadic failures in

[2017-02-20 11:53] pms1969 commented on #341
I've noticed I have exactly the same behaviour with linux containers.  Works fine after sign in, but the redirect to the requested url is ignored if authentication is required.

I've tied setting the `error_page` uri like so
[code]
but still no luck.  This just ends up bringing me back to `/oauth2/sing_in?rd=blah.html` so no redirection going on at all.

quite perplexing.

[2017-02-20 12:41] pms1969 commented on #341
OK,  managed to figure out a workaround.  So anyone else who finds themselves in this situation, here it is:

[code]

this skips the "sign in with provider" sign in page, but I don't exactly need that anyway.

Closing the ticket.

[2017-02-20 12:41] #341 closed

[2017-02-22 02:17] ekristen commented on #229
+1, what can we do to get this added? Thanks!

[2017-02-22 10:37] jbjl opened #345 "Provider request Wordpress Oauth Provider wp-oauth.com"
I would like to request a wordpress based provider be added.
https://wp-oauth.com/

[2017-02-22 11:03] roman-vynar commented on #345
Taking into account the WP fame being one of most vulnerable apps on the web, it is an anti-pattern to implement security provider on top of Wordpress 😀

[2017-02-22 20:51] jbjl commented on #345
Posted a USD$120 bounty on this request on https://www.bountysource.com/issues/42309789-provider-request-wordpress-oauth-provider-wp-oauth-com

[2017-03-01 15:47] elvarb commented on #262
Would be very useful for many internal business use cases.

[2017-03-06 06:52] SleeperSmith commented on #232
Mind doing a release for this? Latest release is v2.1 which doesn't seem like this fix is in and I'm getting the same problem.

[2017-03-14 20:47] ahmetb opened #348 "Project health and attention for issues/patches"
This is a nice project with adoption and a community around it, however I am seeing that many pull requests and issues do not get the attention they deserve.

There are quite a few forks with good improvements [like this one](https://github.com/avatao/oauth2_proxy) or [this one](https://github.com/coreos/oauth2_proxy). Not to mention there are TENS of [others forks](https://github.com/bitly/oauth2

[2017-03-14 22:00] thenewwazoo commented on #335
#347 adds this support.

[2017-03-17 19:33] redshirtrob commented on #348
I would really like to see a response too. I've very happy with the project and would like to contribute back, but the lack of movement in the past few months makes me wonder if my efforts will be worthwhile. I'd rather not maintain a fork.

[2017-03-21 10:21] jan-schulz-k24 commented on #348
According to the commit graph, there are at least two forks which seem to have active development:

https://github.com/brunnels/oauth2_proxy -> commits by @brunnels
https://github.com/avatao/oauth2_proxy -> commits by @gdemarcsek and @oszi (seems to be an org which backs this)

[2017-03-21 12:01] danielsmith-eu commented on #172
@jehiah @jburnham - has there been any progress on this?

This issue affects me too, and it sounds like @Vestaxis solution would work for me - It'll take me a bit of time figuring out Go (not used it before), so if this is something that can be done without too much effort by anyone who's more familiar, I'd appreciate it! 🥇

[2017-03-22 17:30] iyerusad opened #351 "Config file and command line parameters do not match up - v2.2.0-alpha"
I built from source
[code]

Working **cmdline** syntax:
[code]

Working **cfg file** syntax:
[code]

cookie_secret is expected in config file, cookie-secret is expected in command line
email_domains is expected in config file, email-domain is expected in command line

so on and so forth

[2017-03-22 19:10] #340 closed

[2017-03-23 02:55] jehiah commented on #333
Twitter doesn't support exposing user email address, so supporting twitter won't work with the current constructs.

[2017-03-23 02:55] #333 closed

[2017-03-23 02:57] #300 closed

[2017-03-23 02:57] #246 closed

[2017-03-23 03:04] jehiah commented on #348
Sorry for the delay in replying; As i'm sure you can appreciate this isn't my top priority day to day.

I'll take this issue to ❤️ .

I'll try to write up some contributing guidelines to make it easier for me to respond to PRs and accept contributions, and i'll try to recruit some additional folks from the Bitly team to help manage releases here.

Given the other priorities i have, this project te

[2017-03-23 03:04] #348 closed

[2017-03-23 03:06] jehiah commented on #351
It's expected that command line arguments are `-with-dashes` and config file keys are `with_underscores` so `cookie-secure` in the config file seems like the only one from your list that's out of place.

I think the singular vs plural for email_domains is expected because they have different ways to specify multiple values (but please confirm).

[2017-03-23 03:08] #306 closed

[2017-03-23 16:12] ahmetb commented on #348
@jehiah I would strongly suggest looking at the community members with active forks and giving them contributor access. This would make it easier for you to keep the project alive outside the company.

[2017-03-23 16:22] iyerusad commented on #351
Ah, I see. Is there some area where that disparity is documented? I dug through some of the basic documentation but might of missed it. It felt somewhat like a bug based on what the error message - the error message says do A syntax but B syntax is what is really desired.

[2017-03-23 16:24] jehiah commented on #351
If you have thoughts on specific documentation updates that would have been helpful to you, i'm more than happy to review a PR for that.

[2017-03-25 15:08] leonelwilliams opened #352 "Allow exclusion of Domain= in cookies"
I've set the cookie-name to `__Host-oauth2` in an attempt to get [Cookie Prefixes](https://tools.ietf.org/html/draft-west-cookie-prefixes-05#section-1) ([__Host-](https://tools.ietf.org/html/draft-west-cookie-prefixes-05#section-3.2)) to work but I'm having some issues getting Chrome to accept the cookie.

Section 3.2 forbids setting Domain= but I can't seem to find a vanilla way to exclude Domain

[2017-03-26 14:18] Esfera5 opened #353 "Windows pre-build binary is not an .exe"
https://github.com/bitly/oauth2_proxy/releases/tag/v2.1 points to a tar.gz file which does not contain a .exe file.

[2017-03-26 19:22] jehiah commented on #353
@Esfera5 would you be willing to open a PR that fixes the windows build settings in `dist.sh`?

[2017-03-26 19:23] jehiah commented on #352
@leonelwilliams are you interested in contributing a PR to update the cookie handling to automatically skip setting the domain in these cases?

[2017-03-26 19:24] jehiah commented on #342
@igroykt Are you interested in contributing support for this?

[2017-03-26 19:27] jehiah commented on #326
@craftbyte this sounds useful. Are you interested in contributing support for this?

[2017-03-26 19:41] craftbyte commented on #326
Sadly, I don't know GoLang, but will try :)

[2017-03-26 20:33] leonelwilliams commented on #352
I don't know anything about golang (I'm mostly on the administrative/spec end of the computery things) so if I were able to somehow conjure up something that works it'd unfortunately be of poor quality and not fit for inclusion ☹️

[2017-03-27 10:35] igroykt commented on #342
@jehiah yeap.

[2017-03-27 17:26] Esfera5 commented on #353
Sure. Proper solution should consider https://golang.org/doc/code.html. Are you guys willing to move stuff around? I'd rename `main.go` to `oauth2_proxy.go` in which case build cmd would be `go build src/oauth2_proxy.go`. Go toolchain takes care of naming `oauth2_proxy` or `oauth2_proxy.exe`. How does that sound?

[2017-03-27 18:39] jehiah commented on #353
`go build` might uses the directory name by default but [`dist.sh`](https://github.com/bitly/oauth2_proxy/blob/master/dist.sh#L25) builds to a different target directory so that it can build up the `tar.gz` release files.

That logic just needs a conditional for handling the `os=windows` case.

[2017-03-27 18:49] #353 closed

[2017-03-28 00:19] jehiah opened #356 "Update vendored dependencies."
In preparation for a release, this updates the vendored dependencies.

[2017-03-29 01:29] jehiah opened #359 "Improve redirect checks"
The current parsing of the "rd" and "state" query parameters allow for an open redirect, if the rd values is of the form `//domain.com/`.

Fixes #228

[2017-03-29 01:34] #228 closed

[2017-03-29 01:37] jehiah opened #360 "CSRF protection for OAuth flow."
This implements CSRF protection for the initiation and termination of the OAuth flow. (thanks @arnottcr and @therook for the contribution).

Fixes #336, #321

[2017-03-29 01:42] #205 closed

[2017-03-29 03:02] jehiah opened #361 "travis: run gofmt and go vet"

[2017-03-29 13:36] #336 closed

[2017-03-29 14:59] jehiah opened #362 "Option to skip SSL verification"
This adds an option to skip SSL verification which is useful when using oauth2_proxy in a development environment, or against a provider with a self-signed certificate.

This fixes #350, #234

[2017-03-30 20:49] iyerusad commented on #327
I seem to have encountered the same -

I am doing nginx -> oauth2_proxy
which goes to
gollum

This is successful.

However nginx-> oauth2_proxy -> gollum -> omnigollum redirects all traffic to / (so requests to http://mysite.com/edit/home go to http://mysite.com

Does -skip-provider-button=false mean it will prompt to press "login with {provider}" vs just passing user through if they have existing

[2017-03-31 13:40] mikeazo opened #364 "Inconsistency in configuration file specification"
For almost all configuration options, if specifying via the command line you use a dash (`-`) to separate words, but when using a configuration file, you use an underscore (`_`). There is one exception, when specifying a proxy prefix, on you have to use a dash in both places. It would seem to make sense to make it more consistent and use `proxy-prefix` on command line and `proxy_prefix` in a confi

[2017-03-31 19:27] ploxiln commented on #364
mentioned in #351 and fixes proposed in #363

[2017-04-02 02:59] drassi commented on #327
I have the same issue, using `skip_provider_button=true` causes logins to somehow lose track of the "state" GET param on the provider login page, at least for Google.

- `skip_provider_button=false` makes `state=/<original_path>/` appear in provider login url bar
- `skip_provider_button=true` makes `state=/` appear instead

Thanks for the 'hd' param tip @ntdaley—this should be the default for the

[2017-04-05 21:09] cpgravlee opened #368 "400: Code was already redeemded."
We receive this error sporadically and have to wait ~ 5-10 minutes before we can authenticate:

`error redeeming code got 400 from "https://www.googleapis.com/oauth2/v3/token" {
 "error": "invalid_grant",
 "error_description": "Code was already redeemed."
}`

During the window in which errors are thrown each request we try to log in again with has a new "code".

I was curious how that code was gen